<!DOCTYPE html>
<html lang="{{ translation.get_language() }}" dir="ltr">
	<head>
	    <meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name='author' content='pidesign, info@pidesign.gr'>
		{% block meta_description %}
			{% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}
		{% endblock %}
		{% block extra_meta %}{% endblock %}
	    <title>
		    {% block title %}
		        {% if page_title %}{{ page_title }} | {% endif %}{{ SITE_TITLE }}
	        {% endblock %}
	    </title>
	    {% block extra_styles %}{% endblock %}
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="{{ static('css/main.css') }}">

	    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" sizes="180x180" >
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>

	<body>
		<div id="preloader"></div>
		<div id="wrapper">
			{% block content %}{% endblock %}
		</div>
		
		{% block extra_js %}{% endblock %}
		<script src="{{ static('js/jquery.min.js') }}"></script>
		<script src="{{ static('js/jpreloader.min.js') }}"></script>
		<script src="{{ static('js/bootstrap.min.js') }}"></script>
		<script src="{{ static('js/jquery.isotope.min.js') }}"></script>
		<script src="{{ static('js/jquery.prettyPhoto.js') }}"></script>
		<script src="{{ static('js/easing.js') }}"></script>
		<script src="{{ static('js/jquery.ui.totop.js') }}"></script>
		<script src="{{ static('js/ender.js') }}"></script>
		<script src="{{ static('js/jquery.scrollto.js') }}"></script>
		<script src="{{ static('js/owl.carousel.js') }}"></script>
		<script src="{{ static('js/video.resize.js') }}"></script>
		<script src="{{ static('js/bootstrap-datepicker.js') }}"></script>
		<script src="{{ static('js/jquery.stellar.js') }}"></script>
		<script src="{{ static('js/jquery.plugin.js') }}"></script>
		<script src="{{ static('js/wow.min.js') }}"></script>
		<script src="{{ static('js/jquery.magnific-popup.min.js') }}"></script>
{#		<script src="{{ static('js/validation.js') }}"></script>#}
{#		<script src="{{ static('js/validation_reservation.js') }}"></script>#}
		<script src="https://maps.googleapis.com/maps/api/js?key={{ GM_API_KEY }}"></script>
		<script src="{{ static('js/map.js') }}"></script>
		<script src="{{ static('js/exotheme.js') }}"></script>

		<script src="{{ static('js/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>

		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.carousel.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.migration.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
		<script src="{{ static('js/revolution/js/extensions/revolution.extension.video.min.js') }}"></script>
		
		{% block js_last %}{% endblock %}
	</body>
</html>

