<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-12 f-widget">
              <img src="{{ static('img/logo/logo.svg') }}" alt="">
            </div>

            <div class="col-md-4 col-sm-12 f-widget">
              <h3>{{ _("Location") }}</h3>
              <a href="https://goo.gl/maps/uADrd24KvnAn3iBV9">{{ ADDRESS }}</a>
	            <br>
	            {{ _("Postal Code") }}: 84004
	            <br>
	            T. {{ TELEPHONE }}
	            <br>
	            E. <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>
	            <br>
	            ΕΟΤ: 1047853
	            <br>
	            Copyright: Yiannis Margetousakis, Kimolistes, Nikos Phyllis
            </div>

            <div class="col-md-4 col-sm-12 f-widget">
              <h3>{{ _("Follow Us") }}</h3>
              <div class="social-icons">
								<a href="{{ FB }}"><i class="fa fa-facebook"></i></a>
	              <a href="{{ INSTA }}"><i class="fa fa-instagram"></i></a>
	              <a href="{{ TRIP_ADV }}"><i class="fa fa-tripadvisor"></i></a>
              </div>
            </div>

        </div>
    </div>
</footer>
