<div id="header-info">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="header-contact">
                    <li class="icon_location"><a href="https://goo.gl/maps/uADrd24KvnAn3iBV9">{{ ADDRESS }}</a></li>
                    <li class="icon_phone">{{ TELEPHONE }}</li>
                    <li class="icon_email"><a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="h_box">
                    <div class="social-icons-header">
                        <a href="{{ FB }}"><i class="fa fa-facebook"></i></a>
                        <a href="{{ INSTA }}"><i class="fa fa-instagram"></i></a>
                        <a href="{{ TRIP_ADV }}"><i class="fa fa-tripadvisor"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
