<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span id="menu-btn"></span>

                <div id="logo">
                    <div class="inner">
                        <a href="{{ url('homepage') }}"><img src="{{ static('img/logo/logo.svg') }}" alt="logo"></a>
                    </div>
                </div>
                
                <nav>
                <form id="change__lang" action="{{ url('set_language') }}" method="post">{% csrf_token %}</form>
                    <ul id="mainmenu">
                        <li><a href="{{ url('homepage') }}">{{ _("Home") }}</a></li>
                        <li><a href="{{ url('room_index') }}">{{ _("Rooms") }}</a></li>
                        <li><a href="{{ url('kimolos') }}">{{ _("Kimolos") }}</a></li>
                        <li><a href="{{ url('facilities') }}">{{ _('Facilities') }}</a></li>
	                    <li><a href="{{ url('gallery') }}">{{ _("Gallery") }}</a></li>
	                    <li><a href="{{ url('contact') }}">{{ _("Contact") }}</a></li>
	                    <li><a href="https://www.booking.com/hotel/gr/to-rantebou-tes-alukes-quot-rooms-amp-apartments-quot.el.html?label=gen173nr-1FCAEoggI46AdIM1gEaFyIAQGYAQi4ARjIAQzYAQHoAQH4AQuIAgGoAgS4AubwnfMFwAIB&sid=f35e258a27b1d5151df68be03c006005&dest_id=-820549&dest_type=city&from_beach_non_key_ufi_sr=1&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&sr_order=popularity&srepoch=1583839366&srpvid=db80500253080186&ucfs=1&from=searchresults;highlight_room=#hotelTmpl">{{ _('BOOK NOW') }}</a></li>
						{% for language in lang_info() %}
							<li class="language__wrapper">
								<input type="radio"
								       form="change__lang"
								       class="language__input"
								       id="{{ language.code }}"
								       name="language"
										{% if language.code == translation.get_language() %}
		                               checked{% endif %}
		                               value="{{ language.code }}"
		                               onchange="this.form.submit()"
								>
								<label
										class="language__label lang__{{ language.code }}"
										for="{{ language.code }}"
										title="{{ language.name_local }}"
								>
									{{ language.code }}
								</label>
							</li>
						{% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
