{% extends "base/index.html" %}

{% block meta_description %}
	{% if room.meta_description %}<meta name="description" content="{{ room.meta_description }}">{% endif %}
{% endblock %}


{% block after_header %}
	{% set top_image = thumbnail(room.top_image, size=(1920, 600), quality=75) %}
	<section id="subheader" class="subheader-room-detail" style="background:url('{{ top_image.url }}') fixed;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ room.name }}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block room_detail %}
	<section>
		<div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="room-pic-slider">
            {% for img in room.images.all() %}
              {% set thumb = thumbnail(img.large_img, size=(800, 500), quality=80) %}
              <img src="{{ thumb.url }}" alt="" />
            {% endfor %}
          </div>

					<div class="spacer-single"></div>

					<div class="room-carousel-nav">
            {% for img in room.images.all() %}
              {% set thumb = thumbnail(img.large_img, size=(800, 500), quality=80) %}
              <img src="{{ thumb.url }}" alt="" />
            {% endfor %}
          </div>
        </div>

        <div class="col-md-4">
          <div class="room-description s2">
            <div class="text">{{ room.short_description|safe }}</div>
            <br>
            {% if room.amenities.exists() %}
              <div class="room-facilities">
                <ul class="room-facilities-list s2">
                  {% for amenity in room.amenities.all() %}
                    <li>{{ amenity.name }}</li>
                  {% endfor %}
                </ul>
                {% if room.description %}
                <div class="room-facilities-extra">{{ room.description|safe }}</div>
                {% endif %}
              </div>
            {% endif %}
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
	</section>

{#	{% if room.amenities.exists() %}#}
{#	<section data-bgcolor="#f3f3f3">#}
{#		<div class="container">#}
{#	        <div class="row">#}
{#	            <div class="col-md-12 text-center">#}
{#	                <h3>Facilities &amp; Services</h3>#}
{#	            </div>#}
{##}
{#				<div class="spacer-single"></div>#}
{##}
{#		        {% for amenity in room.amenities.all() %}#}
{#				<div class="col-md-4">#}
{#					<div class="f_box right">#}
{#	                    <div class="icon"><i class="fa fa-{{ amenity.icon_name }}"></i></div>#}
{#	                    <div class="desc">#}
{#	                        <h4>{{ amenity.name }}</h4>#}
{#		                    {{ amenity.description }}#}
{#	                    </div>#}
{#	                    <div class="clearfix"></div>#}
{#	                </div>#}
{#				</div>#}
{#		        {% endfor %}#}
{#	        </div>#}
{#        </div>#}
{#	</section>#}
{#	{% endif %}#}

{#	<section id="section-book-3" class="text-white">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#				<div class="title-area text-center">#}
{#					<h1>{{ _("Booking") }}</h1>#}
{#					<div class="small-border"><span></span></div>#}
{#					<p class="sub-heading">{{ _("Make a Reservation") }}</p>#}
{#				</div>#}
{#                {% if messages(request) %}#}
{#				    {% for message in messages(request) %}#}
{#				        {% if 'form_success' in message.tags %}#}
{#					        <div class="col-md-12 notice-success">#}
{#					            <div class="alert alert-success">#}
{#					                <p>{{ message|safe }}</p>#}
{#					            </div>#}
{#					        </div>#}
{#				        {% elif 'form_error' in message.tags %}#}
{#					        <div class="col-md-12 notice-fail">#}
{#					            <div class="alert alert-danger">#}
{#					                <p>{{ message|safe }}</p>#}
{#					            </div>#}
{#					        </div>#}
{#				        {% endif %}#}
{#				    {% endfor %}#}
{#				{% endif %}#}
{#				<div id="booking-form" class="form-container lt-form s3">#}
{#					<form name="bookForm" id='book_form' method="post">#}
{#						{% csrf_token %}#}
{#						<input type="hidden" name="room_name" value="{{ room.name }}">#}
{#						<div class="col-md-12">#}
{#							<div class="row">#}
{#                                <div class="col-md-3">#}
{#                                    <div class="label">#}
{#                                        <i class="fa fa-calendar"></i>{{ booking_form.checkin_date.label_tag() }}#}
{#                                        {% if booking_form.checkin_date.errors %}#}
{#	                                        <div class="fa fa-exclamation-circle error-icon"></div>#}
{#	                                        <span class="error_message">{{ booking_form.checkin_date.errors|striptags }}</span>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#	                                {{ booking_form.checkin_date }}#}
{#                                    <input class="form-control" name="r_checkin" id="r_checkin" type="text">#}
{#                                </div>#}
{#                                <div class="col-md-3">#}
{#                                    <div class="label">#}
{#                                        <i class="fa fa-calendar"></i>{{ booking_form.checkout_date.label_tag() }}#}
{#                                        {% if booking_form.checkout_date.errors %}#}
{#	                                        <div class="fa fa-exclamation-circle error-icon"></div>#}
{#	                                        <span class="error_message">{{ booking_form.checkout_date.errors|striptags }}</span>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#	                                {{ booking_form.checkout_date }}#}
{#                                    <input class="form-control" name="r_checkout" id="r_checkout" type="text">#}
{#                                </div>#}
{#                                <div class="col-md-6">#}
{#                                    <div class="label">#}
{#                                        <i class="fa fa-user"></i>{{ booking_form.name.label_tag() }}#}
{#                                        <div class="fa fa-exclamation-circle error-icon"></div>#}
{#                                    </div>#}
{#	                                {{ booking_form.name }}#}
{#                                    <input type='text' name='r_name' id='r_name' class="form-control">#}
{#                                </div>#}
{##}
{#                                <div class="col-md-3">#}
{#                                    <div class="label">#}
{#                                        <i class="fa fa-users"></i>{{ booking_form.adults.label_tag() }}#}
{#                                        <div id="r_guest_error" class="fa fa-exclamation-circle error-icon"></div>#}
{#                                    </div>#}
{#	                                {{ booking_form.adults }}#}
{#                                </div>#}
{#                                <div class="col-md-3">#}
{#                                    <div class="label">#}
{#	                                    <i class="fa fa-users"></i>{{ booking_form.children.label_tag() }}#}
{#                                    </div>#}
{#	                                {{ booking_form.children }}#}
{#                                </div>#}
{#                                <div class="col-md-3">#}
{#                                    <div class="label">#}
{#                                        <i class="fa fa-phone"></i>{{ booking_form.phone.label_tag() }}#}
{#                                        {% if booking_form.phone.errors %}#}
{#	                                        <div class="fa fa-exclamation-circle error-icon"></div>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#	                                {{ booking_form.phone }}#}
{#                                </div>#}
{#                                <div class="col-md-3">#}
{#                                    <div class="label">#}
{#                                        <i class="fa fa-envelope"></i>{{ booking_form.email.label_tag() }}#}
{#                                        {% if booking_form.email.errors %}#}
{#	                                        <div class="fa fa-exclamation-circle error-icon"></div>#}
{#	                                        <span class="error_message">{{ booking_form.email.errors|striptags }}</span>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#	                                {{ booking_form.email }}#}
{#                                </div>#}
{#                                <div class="col-md-12">#}
{#                                    <div class="label"><i class="fa fa-comment"></i>{{ booking_form.message.label_tag() }}#}
{#                                    </div>#}
{#	                                {{ booking_form.message }}#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#							</div>#}
{#					</form>#}
{#                </div>#}
{#            </div>#}
{#			<div class="col-md-4 col-md-offset-4">#}
{#                <input type="submit" form="book_form" id="send_book" value="{{ _("BOOK NOW") }}" class="btn-custom btn-fullwidth">#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
