{% extends "base/index.html" %}


{% block after_header %}
	<section id="subheader" data-stellar-background-ratio=".2" class="subheader-room-index">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Rooms & Studios</h1>
                    <h3>Modern & Spacious Rooms</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block room_index %}
	<section>
		<div class="container">
	        <div class="row">
		        {% for room in rooms %}
			        <div class="room-1-col s2">
								<div class="col-md-8">
									{% set thumb = thumbnail(room.images.first().large_img, size=(800, 500), quality=80) %}
                    <img src="{{ thumb.url }}" class="img-responsive" alt="">
                </div>
		            <div class="col-md-4">
								<div class="room-description s2">
									<h3>{{ room.name }}</h3>
									<div class="spacer-half"></div>
                   <p>{{ room.short_description }}</p>
{#									<a href="#" class="btn-primary">{{ _("Book Now") }}</a>#}
									<a href="{{ room.get_absolute_url() }}" class="btn-secondary">{{ _("View Details") }}</a>
									<div class="divider-single"></div>
                </div>
	            </div>
							<div class="clearfix"></div>
					</div>
	        {% endfor %}

{#	        <div>#}
{#		        <h2>Πολιτική ακύρωσης</h2>#}
{#		        <ul>#}
{#			        <li>22 ή περισσότερες μέρες πριν την ημερομηνία άφιξης του πελάτη- επισκέπτη, επιστρέφεται σ’αυτόν η προκαταβολή ( πιθανά έξοδα βαραίνουν τον πελάτη).</li>#}
{#			        <li>11-21 μέρες πριν την άφιξη του πελάτη επισκέπτη, επιστρέφεται σ’αυτόν  το  50% της προκαταβολής.</li>#}
{#			        <li>10 ή λιγότερες μέρες πριν από την ημερομηνία άφιξης του πελάτη –επισκέπτη , δεν  επιστρέφεται κανένα ποσό από την προκαταβολή στον πελάτη.</li>#}
{#			        <li>Σε περίπτωση μη εμφάνισης ή αναχώρησης πριν την προκαθορισμένη ημερομηνία καταβάλλεται το συνολικό ποσό της διαμονής.</li>#}
{#		        </ul>#}
{#	        </div>#}
{#				<div class="room-1-col s2">#}
{#		            <div class="col-md-4">#}
{#						<div class="room-description s2">#}
{#								<h3>Deluxe Double</h3>#}
{#									<div class="price_from">Start from <span>$229</span>/night</div>#}
{#									<div class="spacer-half"></div>#}
{#		                        <p>#}
{#									Our rooms are decorated in a unique style that blends Balinesse and modern, with the beds, furniture#}
{#									and lighting that was specially designed to provide a relaxing and comforting ambience for our guests.#}
{#		                            have been lovingly restored and tastefully updated. A calming colour palate featuring shades#}
{#		                            of aquamarine and turquoise combined with the strong architectural character of the Heritage#}
{#		                            rooms and suites creates a relaxed ambiance strong architectural#}
{#								</p>#}
{#									<a href="#" class="btn-primary">Book Now</a>#}
{#									&nbsp;&nbsp;#}
{#									<a href="#" class="btn-secondary">View Details</a>#}
{#								<div class="divider-single"></div>#}
{#		                </div>#}
{#		            </div>#}
{#					<div class="col-md-8">#}
{#		                <img src="images/room/room-deluxe-double.jpg" class="img-responsive" alt="">#}
{#		            </div>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#				<div class="room-1-col s2">#}
{#					<div class="col-md-8">#}
{#	                    <img src="images/room/room-deluxe-single.jpg" class="img-responsive" alt="">#}
{#	                </div>#}
{#		            <div class="col-md-4">#}
{#						<div class="room-description s2">#}
{#								<h3>Luxury Single</h3>#}
{#									<div class="price_from">Start from <span>$299</span>/night</div>#}
{#									<div class="spacer-half"></div>#}
{#		                        <p>#}
{#									The rooms have large and comfortable beds, LCD, Wi-Fi internet, TV cable, minibar and conditioned air.#}
{#									The bathrooms are equipped with showers, hair dryer, soap and hair wash. The rooms have an area of 20 sqm.#}
{#									A calming colour palate featuring shades of aquamarine and turquoise combined with the strong architectural#}
{#									character of the Heritage rooms and suites creates a relaxed ambiance. Have been lovingly restored and#}
{#									tastefully updated creates a relaxed.#}
{#								</p>#}
{#									<a href="#" class="btn-primary">Book Now</a>#}
{#									&nbsp;&nbsp;#}
{#									<a href="#" class="btn-secondary">View Details</a>#}
{#								<div class="divider-single"></div>#}
{#		                </div>#}
{#		            </div>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#				<div class="room-1-col s2">#}
{#		            <div class="col-md-4">#}
{#						<div class="room-description s2">#}
{#								<h3>Luxury Double</h3>#}
{#									<div class="price_from">Start from <span>$329</span>/night</div>#}
{#									<div class="spacer-half"></div>#}
{#		                        <p>#}
{#									A calming colour palate featuring shades The rooms have an area of 20 sqm.#}
{#		                            have been lovingly restored and tastefully updated. of aquamarine and turquoise combined with the strong architectural#}
{#									character of the Heritage rooms and suites creates a relaxed ambiance. Proin gravida nibh vel velit auctor aliquet#}
{#									aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis. The bathrooms are equipped#}
{#									with showers, hair dryer, soap and hair wash.#}
{#								</p>#}
{#									<a href="#" class="btn-primary">Book Now</a>#}
{#									&nbsp;&nbsp;#}
{#									<a href="#" class="btn-secondary">View Details</a>#}
{#								<div class="divider-single"></div>#}
{#		                </div>#}
{#		            </div>#}
{#					<div class="col-md-8">#}
{#		                <img src="images/room/room-luxury-double.jpg" class="img-responsive" alt="">#}
{#		            </div>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#				<div class="text-center ">#}
{#                    <ul class="pagination">#}
{#                        <li><a href="#">Prev</a></li>#}
{#                        <li class="active"><a href="#">1</a></li>#}
{#                        <li><a href="#">2</a></li>#}
{#                        <li><a href="#">3</a></li>#}
{#                        <li><a href="#">4</a></li>#}
{#                        <li><a href="#">5</a></li>#}
{#                        <li><a href="#">Next</a></li>#}
{#                    </ul>#}
{#                </div>#}
	        </div>
    </div>
	</section>
{% endblock %}
