{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript">const $ = django.jQuery;</script>
	<script src="{% static 'js/admin/adminPreviewImage.js' %}"></script>
{% endblock %}
