<section id="section-facilities-3">
    <div class="container">
        <div class="col-md-12">
            <div class="title-area wow fadeIn">
                <h1>{{ _("Everything's Included") }}</h1>
                <div class="small-border"><span></span></div>
                <p class="sub-heading">{{ _("Facilities and Services") }}</p>
            </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
            <div class="faci-box-2 text-white mb30">
                <img src="{{ static('img/homepage/amenities/1.jpg') }}" class="img-fullwidth" alt="">

                <div class="inner">
                    <div class="inner">
                        <h4>{{ _("Peace and Quiet") }}</h4>
	                    {{ _("The Rantevou tis Alykis you will feel like the time stopped to the relaxation mode! Kimolos Island will amaze you and you are sure to fall in love.") }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay=".4s">
            <div class="faci-box-2 text-white mb30">
                <img src="{{ static('img/homepage/amenities/2.jpg') }}" class="img-fullwidth" alt="">

                <div class="inner">
                    <div class="inner">
                        <h4>{{ _("Taste") }}</h4>
	                    {{ _("Our guests are very happy with our breakfast and we proudly offer them daily handmade traditional delicacies under the shade of the pergola. Do not miss the traditional \"Ladenia Kimolou\".") }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay=".6s">
            <div class="faci-box-2 text-white mb30">
                <img src="{{ static('img/homepage/amenities/3.jpg') }}" class="img-fullwidth" alt="">

                <div class="inner">
                    <div class="inner">
                        <h4>{{ _("Care") }}</h4>
	                    {{ _("We make sure you do not miss anything. For anything you need do not hesitate to let us know and we will do our best to have the most beautiful stay.") }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
