<div id="quick-book">
    <div id="booking-form" class="lt-form">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control" name="r_checkin" id="r_checkin" type="text" placeholder="Check In Date">
                </div>

                <div class="col-md-3">
                    <input class="form-control" name="r_checkout" id="r_checkout" type="text" placeholder="Check Out Date">
                </div>

                <div class="col-md-3">
                    <select id="r_room" class="form-control" name="r_room">
						<option value="">Number of Guest(s)</option>
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
						<option value="">6</option>
						<option value="">7</option>
						<option value="">8</option>
						<option value="">9</option>
						<option value="">10+</option>
					</select>
                </div>

                <div class="col-md-3">
                    <input type="submit" id="send_book" value="Check Availability" class="btn-custom btn-fullwidth">
                </div>
            </div>
        </div>
    </div>
</div>
