<section id="section-contact" data-stellar-background-ratio="-.02" class="homepage-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area wow fadeIn">
                    <h1>{{ _("Contact Us") }}</h1>
                    <div class="small-border"><span></span></div>
                    <p class="sub-heading">{{ _("Get In Touch") }}</p>
                </div>
            </div>

            <div class="form-container">
                <div class="col-md-6">
                    <div id="map"></div>

                    <div class="mt20 custom-address under__map">
                        <div><i class="fa fa-map-marker"></i>{{ ADDRESS }}</div>
                        <div><i class="fa fa-map-marker"></i>{{ TELEPHONE }}</div>
                        <div><i class="fa fa-map-marker"></i>{{ EMAIL }}</div>
                    </div>
                </div>

                <div class="col-md-6">
	                {% if messages(request) %}
		                <div class="row">
		                {% for message in messages(request) %}
					        {% if 'form_success' in message.tags %}
						        <div class="col-md-12 notice-success">
						            <div class="alert alert-success"><p>{{ message|safe }}</p></div>
						        </div>
					        {% elif 'form_error' in message.tags %}
						        <div class="col-md-12 notice-fail">
						            <div class="alert alert-danger"><p>{{ message|safe }}</p></div>
						        </div>
					        {% endif %}
					    {% endfor %}
		                </div>
					{% endif %}
                    <div class="lt-form s2">
                        <form name="contactForm" id='contact_form' method="post">
	                        {% csrf_token %}
                            <div class="label">
                                <i class="fa fa-user"></i>{{ contact_form.name.label_tag() }}
                            </div>
	                        {{ contact_form.name }}

                            <div class="label">
                                <i class="fa fa-envelope"></i>{{ contact_form.email.label_tag() }}
                            </div>
	                        {{ contact_form.email }}

                            <div class="label">
                                <i class="fa fa-comment"></i>{{ contact_form.message.label_tag() }}
                            </div>
	                        {{ contact_form.message }}

                            <input type='submit' id='send_message' value='{{ _("Submit Form") }}' class="btn-custom">
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="spacer-double"></div>
                <div class="spacer-double"></div>
                <div class="spacer-double"></div>
            </div>
        </div>
    </div>
</section>
