{% extends "base/index.html" %}


{% block homepage %}
	{% include "homepage/slider.html" %}
	{% include "homepage/welcome.html" %}
	{% include "homepage/amenities.html" %}
	{% include "homepage/rooms.html" %}
{#	{% include "homepage/booking_bar.html" %}#}
	{% include "homepage/testimonials.html" %}
	{% include "homepage/contact.html" %}
	<div class="decoration" data-bgcolor="#b45d3b">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center woman-hat-hands">
                    <img src="{{ static('img/homepage/contact/contact_woman.png') }}" alt="" class="mt-260" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_last %}
<script>
    let tpj=jQuery;
        
        let revapi1084;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_1084_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_1084_1");
            }else{
                revapi1084 = tpj("#rev_slider_1084_1").css('visibility', 'visible').show().revolution({
                    sliderType:"hero",
					jsFileLocation:"revolution/js/",
                    sliderLayout:"fullscreen",
                    dottedOverlay:"none",
                    delay:3000,
                    navigation: {
                    },
                    responsiveLevels:[1240,1024,778,480],
                    visibilityLevels:[1240,1024,778,480],
                    gridwidth:[1400,1240,778,480],
                    gridheight:[768,768,960,720],
                    lazyType:"none",
                    parallax: {
                        type:"3D",
                        origo:"slidercenter",
                        speed:500,
                        levels:[5,10,15,20,25,30,5,0,45,50,47,48,49,50,51,55],
                        ddd_shadow:"off",
                        ddd_bgfreeze:"off",
                        ddd_overflow:"hidden",
                        ddd_layer_overflow:"visible",
                        ddd_z_correction:65,
                    },
                    spinner: 'spinner0',
                    autoHeight:"off",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        disableFocusListener:false,
                    }
                });
            }
        });
</script>
{% endblock %}
