<section id="section-explore-5" class="side-bg xs-bg-none" data-stellar-background-ratio="0.5">
    <div class="col-md-8 image-container">
        <div class="background-image overlay-light-80"></div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-8">
			    <div class="col-md-11">
                    <div class="title-area text-center wow fadeIn">
                        <h1>Favorite Rooms</h1>
                        <div class="small-border"><span></span></div>
                        <p class="sub-heading">Explore Our Rooms</p>
                    </div>

                    <div class="row">
				    
                        <div class="col-md-7 xs-mb-30">
                            <div class="lt-carousel">
                                <!-- carousel item -->
                                <div class="carousel-item">
                                    <div class="custom-box">
                                        <div class="inner">
                                            <img src="{{ static('img/homepage/rooms/room_1.jpg') }}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
								<!-- carousel item -->
                                <div class="carousel-item">
                                    <div class="custom-box">
                                        <div class="inner">
                                            <img src="{{ static('img/homepage/rooms/room_2.jpg') }}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
								<!-- carousel item -->
                                <div class="carousel-item">
                                    <div class="custom-box">
                                        <div class="inner">
                                            <img src="{{ static('img/homepage/rooms/room_3.jpg') }}" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="owl-custom-nav mt30">
                                <a class="btn-prev"></a>
                                <a class="btn-next"></a>
                            </div>
                        </div>

                        <div class="col-md-5">
						    {{ _("Our rooms and one-room apartments painted in white shades are ready and waiting for you to offer you a comfortable and pleasant stay. We provide you with a wonderful and very well-kept space for which we are very proud.") }}<br>
                            <div class="divider-single"></div>
                            <a href="{{ url('room_index') }}" class="btn-slider">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

