{% set thumb = thumbnail(slider.background, size=(1920, 1080), quality=80) %}

<section id="section-hero-2" class="section-top no-top no-bottom text-white slider-bg-mob" aria-label="section-hero-2" data-stellar-background-ratio="0.5" style="background-image: url('{{ thumb.url }}')">
    <div id="rev_slider" class="rev_slider_wrapper fullwidthbanner-container" data-alias="web-light-hero" data-source="gallery">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
        <div id="rev_slider_1084_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
{#                <img src="img-rev-slider/bg-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">#}

                    <div class="tp-caption sfr custom-font-1 rs-parallaxlevel-5 hide-mb" data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="-100" data-y="center" data-speed="800" data-easing="easeInOutCubic">
                        <div class="frame-overlay">
	                        {% set overlay_1 = thumbnail(overlays[0].background, size=(267, 231), quality=70) %}
                            <img src="{{ overlay_1.url }}" alt="">
                        </div>
                    </div>

                    <div class="tp-caption sfr custom-font-1 rs-parallaxlevel-2 hide-mb" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="245" data-y="center" data-speed="800" data-start="1000" data-easing="easeInOutCubic">
                        <div class="frame-overlay">
                            {% set overlay_2 = thumbnail(overlays[1].background, size=(480, 340), quality=70) %}
                            <img src="{{ overlay_2.url }}" alt="">
                        </div>
                    </div>

                    <div class="tp-caption sfr custom-font-1 rs-parallaxlevel-3 hide-mb" data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="805" data-y="center" data-speed="800" data-start="1200" data-easing="easeInOutCubic">
                        <div class="frame-overlay">
                            {% set overlay_3 = thumbnail(overlays[2].background, size=(295, 351), quality=70) %}
                            <img src="{{ overlay_3.url }}" alt="">
                        </div>
                    </div>

                    <div class="tp-caption sfr custom-font-1 rs-parallaxlevel-5 hide-mb" data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-x="1185" data-y="center" data-speed="800" data-start="1200" data-easing="easeInOutCubic">
                        <div class="frame-overlay">
                            {% set overlay_4 = thumbnail(overlays[3].background, size=(308, 227), quality=70) %}
                            <img src="{{ overlay_4.url }}" alt="">
                        </div>
                    </div>

	                {# εδώ μπαίνει το overlay text που είναι στην ουσία, φωτογραφία με κείμενο (κεντραρισμένη στο slider) #}
{#                    <div class="tp-caption sfr custom-font-1 rs-parallaxlevel-8" data-frames='[{"delay":4000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'#}
{#                        data-x="center" data-y="center" data-speed="800" data-start="800" data-easing="easeInOutCubic">#}
{#                        <img src="img-rev-slider/pic-1.png" alt="">#}
{#                    </div>#}
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</section>

