<section id="section-explore-6">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="title-area wow fadeIn">
                    <h1>Testimonial</h1>
                    <div class="small-border"><span></span></div>
                    <p class="sub-heading">What They Say</p>
                </div>


                <div class="carousel carousel-3-plain nav-1">

                    <div class="col-md-4 item">
                        <div class="testi style-1">
                            <img src="{{ static('img/homepage/testimonials/testimonial_1.png') }}" alt="">
                            <blockquote>
                                Petit déjeuner plantureux, à la demande & servi avec soin. Nouvelle construction: tout est très bien pensé, agencé.
                            </blockquote>
                            <div class="meta"><span class="a1">Eleftherios</span></div>
                        </div>
                    </div>

                    <div class="col-md-4 item">
                        <div class="testi style-1">
                            <img src="{{ static('img/homepage/testimonials/testimonial_2.png') }}" alt="">
                            <blockquote>
	                            Appartamento molto spazioso e nuovo, non manca nulla. Posizione ottima A pochi passi dalle spiagge di Aliki e Bonatsa. Fermata del bus di fronte allo stabile. Colazione buona. Molto tranquillo.
                            </blockquote>
                            <div class="meta"><span class="a1">Laggiada</span></div>
                        </div>
                    </div>

                    <div class="col-md-4 item">
                        <div class="testi style-1">
                            <img src="{{ static('img/homepage/testimonials/testimonial_3.png') }}" alt="">
                            <blockquote>
	                            Η εξαιρετική ευγένεια της Στέλλας και του Γιώργου!!
                            </blockquote>
                            <div class="meta"><span class="a1">Aikaterini</span></div>
                        </div>
                    </div>

                    <div class="col-md-4 item">
                        <div class="testi style-1">
                            <img src="{{ static('img/homepage/testimonials/testimonial_4.png') }}" alt="">
                            <blockquote>
	                            Un hôtel magnifique, une décoration soignée et un accueil adorable. Une jolie plage est juste à côté de l'hôtel, parfait pour une baignade matinale.
                            </blockquote>
                            <div class="meta"><span class="a1">Marine</span></div>
                        </div>
                    </div>
					
					<div class="col-md-4 item">
                        <div class="testi style-1">
                            <img src="{{ static('img/homepage/testimonials/testimonial_2.png') }}" alt="">
                            <blockquote>
	                            Alloggio lussuoso e con tutti i confort. Curato nei dettagli. Tutto rispecchia la personalità della splendida padrona di casa Stella. Anche la colazione di grande qualità.
                            </blockquote>
                            <div class="meta"><span class="a1">Biagio</span></div>
                        </div>
                    </div>
                </div>

                <div class="owl-custom-nav mt30">
                    <a class="btn-prev"></a>
                    <a class="btn-next"></a>
                </div>

            </div>
        </div>
    </div>

</section>
