
<section id="section-sb-about-1" class="side-bg">
    <div class="col-md-6 image-container">
        <div class="background-image"></div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <div class="title-area wow fadeIn">
                <h1>{{ _("To Rantevou tis Alykis") }}</h1>
                <div class="small-border"><span></span></div>
                <p class="sub-heading">RENTED APARTMENTS AND ROOMS</p>
            </div>
            <div class="row">
              <div class="col-md-12 xs-mb-30">
                <h4>{{ _("Your paradise in Kimolos") }}</h4>
                {{ _('The Rantevou of Aliki "Rooms & Apartments" is a small unit with different apartments and rooms for each couple or family! We are located on the main road in the village of ​​Aliki. Our distance from the beach of Aliki is 400 meters and from the bus stop 100 meters. Alyki is a seaside settlement of Kimolos that overlooks Milos. Aliki has a pebbled beach with several trees, taverns and accommodation. Our distance from the port of Kimolos (Psathi) is 2.5 km and from Horio 2.5 km.') }}
                  <div class="divider-single"></div>
                  <a href="{{ url('room_index') }}" class="btn-custom">{{ _("See our rooms") }}</a>
              </div>
{#                    <div class="col-md-6">#}
{#                      <h4>{{ _("The island") }}</h4>#}
{#	                    {{ _("At the moment that you arrive in Psathi the Kimolian harbor, you feel like your heart is full of happiness. The island is picturesque and beautiful, the waters are green, the houses in blue and white, they proudly stand to compose a fairytale picture that stays forever in your mind. The peace and calm you meet absorbs you.") }}#}
{#                        <div class="divider-single"></div>#}
{#                        <a href="offers-category-1.html" class="btn-custom">More Info</a>#}
{#                    </div>#}
            </div>
          </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
