@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:400,400i,700,700i');

/* ////////////////////////////////////////////////////////////
	
	Exotica
	created by exotheme

////////////////////////////////////////////////////////////

Table of content

body
header
	- logo
	- mainmenu
	- subheader
elements
	- address
	- border
	- breadcrumb
	- dropcap
	- heading
	- icon font
	- map
	- package
	- page heading
	- pagination
	- social icons
	- spacer
	- tabs
	- team
	- timeline
	- menu
	- video
content
contact
booking
blog
	- blog carousel
	- blog comments
	- blog list
	- blog single
gallery
section
footer
widget
overide
plugin
	- owl slider testimonial
miscellaneous
media query	

 ////////////////////////////////////////////////////////////  */
/* ////////////////////////////////////////////////////////////  */
/* body */
/* ////////////////////////////////////////////////////////////  */
body {
    font-family:'Open Sans';
    font-size:13px;
    color:#707070;
    line-height:1.8em;
    padding:0;
    overflow-x:hidden;
    background:#fff;
	font-weight:300;
	margin:0 auto;
	position: relative;
    /*background: url(../images/bg/bg-pic-2.jpg) fixed;*/
}

body.scrolled {
    margin-top:80px
}

/* ////////////////////////////////////////////////////////////  */
/* elements */
/* ////////////////////////////////////////////////////////////  */
ul#et-accordion {
	list-style-type: none;
	list-style:none;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul#et-accordion li{
	list-style-type: none;
	list-style:none;
	margin: 0;
	padding: 0;
}

 .et-accordion {
	background:rgba(255,255,255,.6);
 	width: 100%;
 	max-width: 360px;
 	margin: 30px auto 20px;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.et-accordion .et-link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}


.et-accordion li:last-child .et-link {
	border-bottom: 0;
}

.et-accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #e88660;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.et-accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.et-accordion li.et-open a{
	color:#333;
}

.et-accordion li:hover a:hover,
.et-accordion li.et-open a:hover{
	color:#fff;
}

.et-accordion li:hover .et-link,
.et-accordion li.et-open .et-link {
	color: #fff;
	background:#e88660;
}

.et-accordion li:hover i,
.et-accordion li.et-open i {
	color: #fff;
}

.et-accordion li.et-open .et-link li {
	color: #333;
}

.et-accordion li.et-open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.et-accordion li.default .et-submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .et-submenu {
 	display: none;
 	background: rgba(255,255,255,.5);
 	font-size: 14px;
 }

 .et-submenu li {
	margin:0;
 	border-bottom: 1px solid #fff;
 }

 .et-submenu a {
 	display: block;
 	text-decoration: none;
 	padding: 12px;
 	padding-left: 0px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }
 
 .et-submenu a:hover {
 	background: #e88660;
 	color: #FFF;
	padding-left:30px;
 }




/* --------------- address --------------- */
address span {
    display:block;
    margin-bottom:20px;
    font-size:18px;
    padding:10.5px;
    border:solid 1px #555
}

address span i {
    margin-top:5px
}

address span strong {
    display:inline-block
}

.address {
    color:#f8eed3
}

.address i {
    display:inline-block!important;
    float:none!important;
    margin-left:10px
}

/* --------------- border --------------- */
.small-border {
    background:rgba(187,187,187,.4);
    width:300px;
    margin:0 auto
}

.small-border span {
    height:2px;
    width:100px;
    background:#e88660;
    display:block;
    margin:0 auto;
    margin-top:25px;
    margin-bottom:25px
}

.divider-small {
    display:block;
    clear:both;
    padding:40px 0 50px;
    text-align:center
}

.divider-small span {
    display:inline-block;
    width:30px;
    border-top:solid 1px #bbb
}

.divider-line {
	clear:both;
	border-top:solid 1px #eee;
	margin:40px 0;
}

.divider {
    display:block;
    clear:both;
    padding:25px 0;
    text-align:center
}

.divider-single {
    display:block;
    clear:both;
    padding-top:25px;
    text-align:center
}

.room-item {
    margin-bottom:30px;
}

.owl-carousel .room-item{
	width:100%;
}

.room-item .inner {
    text-align:center;
    background:#f7f7f7;
	color:#848484;
}

.room-item h3 {
	color:#333 !important;
    font-size:20px;
    margin-top:20px
}

.price_from {
    color:#333;
	font-weight:500;
}

.price_from span{
    color:#e88660 !important;
	padding-right:2px;
}

.price_from.s2{
    color:#e88660;
    margin-top:10px;
    margin-bottom:10px;
	font-weight:bold;
}

.price_from.s2 span{
    color:#fff !important;
	padding-right:2px;
}

.room-item .teaser {
    margin-bottom:20px;
    padding:0 20px
}

.room-item .btn-detail {
    background:#e88660;
    text-transform:uppercase;
    display:block;
    padding:10px;
    color:#fff;
    text-decoration:none;
	font-weight:bold;
}

.room-item .btn-detail:after{
    font-family:"FontAwesome";
    content:  "\f178";
    color:#fff;
	margin-left:10px;
}

.room-item:hover .btn-detail {
    opacity:.8;
}

.room-item .tags, .room-1-col .tags, .custom-box .tags{
position:absolute;
font-weight:bold;
margin:10px 0 0 10px;
padding:2px 10px 2px 10px;
color:#fff;
background:#e88660;
z-index:101;
}

.tags.discount{
background:#70768c;
border-radius:2px;
-moz-border-radius:2px;
}

.tags.featured{
background:#e88660;
border-radius:2px;
-moz-border-radius:2px;
}

.room-item:hover .tags{
padding:2px 14px 2px 14px;
margin-left:0;
}

.room-description .wrap{
	width:100%;
}

.room-description h2 {
	margin:0;
}
.room-description .btn-custom {
	text-align:center;
	display:block;
	margin-top:20px;
}
.room-description.s2{
	padding:40px 40px 30px 40px;
	background:#f7f7f7;
}

.room-description.s3{
	padding:30px 40px 30px 40px;
}

.room-price {
    font-size:20px;
    margin-bottom:20px;
    color:#e88660;
	padding:6px;
	height:34px;
	display:inline-block;
	margin-right:25px;
}

.room-price .duration {
    font-size:20px;
    font-weight:300;
}

.room-facilities h4 {
    margin:0px 0 20px 0;
    font-size:16px
}

.room-facilities-list {
    padding:0;
    list-style:none
}

.room-facilities-list li:before {
    font-family:"FontAwesome";
    content:"\f00c";
    margin-right:10px;
    color:#e88660
}

.room-facilities-list.w2 li {
    width:49.9%;
    float:left;
    padding:0
}

.room-facilities-list.w3 li {
    width:32.9%;
    float:left;
    padding:0
}

.room-facilities-list.s2 li:before {
    content:"\f046";
}
.room-facilities-list.s2 li{
	width:100%;
}
.room-facilities-list.s2 li div{
	display:inline-block;
	width:45%;
}
.room-facilities-list.s2 li > div:first-child{
	text-transform:uppercase;
	font-weight:bold;
	font-size:11px;
}


#room-preview-label{
position:absolute;
color:#333;
padding:2px 10px 2px 10px;
margin-top:10px;
margin-left:10px;
background:#fff;
font-weight:bold;
}


.room-1-col.s2{
	margin-bottom:30px;
}

/* --------------- logo --------------- */
.dropcap {
    display:inline-block;
    font-size:48px;
    float:left;
    margin:10px 15px 15px 0;
    color:#fff;
    padding:20px 10px
}

/* --------------- heading --------------- */
h1,h2,h3,h4,h5,h6 {
	font-family:"Playfair Display";
    color:#000;
    font-weight:500
}

h1{margin-top:0}

h2 {
	margin-top:0;
    text-align:center;
    color:#222;
	font-size:35px;
    font-weight:400;
}

h3 {
    margin-top:0;
    font-size:20px
}

h1.slogan_big {
    font-weight:300;
    font-size:64px;
    line-height:64px;
    letter-spacing:-2px;
    padding:0;
    margin:0 0 30px
}

h3.title {
    border-bottom:solid 1px #ddd;
    margin-bottom:20px
}
h4{
	line-height:1.7em;
	margin-bottom:10px;
}
h4.title {
    border-bottom:solid 1px #ddd;
    padding-bottom:10px;
    margin-bottom:20px
}

h5 {
    font-weight:700
}

/* --------------- icon font --------------- */
i {
    display:inline-block!important;
    float:left;
    margin-right:10px;
    margin-bottom:5px
}

i.large {
    font-size:40px;
    padding:16px;
    width:40px;
    height:40px;
    text-align:center
}

i.medium {
    font-size:20px;
    padding:10px;
    width:20px;
    height:20px;
    text-align:center
}

i.small {
    font-size:12px;
    padding:4px;
    width:16px;
    height:15px;
    text-align:center
}

i.circle-icon {
    border-radius:75px;
    -moz-border-radius:75px;
    -webkit-border-radius:75px
}

/* --------------- map --------------- */
#map {
    width:100%;
    height:375px;
    border:solid 1px #ddd
}

.map iframe {
    width:100%;
    height:360px;
    border:solid 1px #ccc;
    padding:2px;
    background:#fff
}

.map-container {
    height:500px;
    overflow:hidden
}

/* --------------- package --------------- */
.package {
    text-align:center;
    width:100%
}

.package h3 {
    font-size:16px;
    font-weight:700
}

.package h3,.package .desc,.package .price,.package img {
    margin-bottom:20px
}

.package .price {
    font-size:14px;
    margin-bottom:15px
}

.package .btn-custom {
    display:inline-block;
    float:none;
    font-size:14px
}

.carousel .item{
	width:100%;
}


.carousel-item .arrow {
    width:21px;
    height:11px;
    background:url(../images/tab-arrow.png) bottom top no-repeat;
    margin-bottom:-2px;
    z-index:1000;
    position:absolute;
    bottom:0;
    margin-bottom:-1px
}

.carousel-item,.sr-item {
    width:100%
}

.room-carousel-nav img{
	width:100%;
	height:auto;
}

.sr-item .overlay {
    position:absolute;
    background:none!important;
    border:solid 1px #f29433;
    margin:10px 0 0 10px;
    display:none
}

.sr-item h3 {
    text-align:center;
    font-family:"Merriweather";
    font-size:16px;
    padding:20px 0
}

.sr-item h3.hover {
    color:#f29433
}

.sr-item img {
    width:100%
}

#services-desc {
    border-top:solid 1px #ddd;
    padding-top:60px
}

#services-desc .text {
    display:none
}

#services-desc .active {
    display:block
}

/* --------------- page title --------------- */
.title-area {
    text-align:center;
	padding:0;
	margin-bottom:30px;
}
.title-area .small-border span{
	margin:20px auto 18px auto;
}
.title-area-hero h1{
text-align:left;
font-size:70px;
}
.title-area-hero .small-border, .title-area-hero .small-border span{
margin-left:0;
}
.title-area p{
	padding:0;
}

.text-white .title-area-hero .small-border{
background:rgba(255,255,255,.3);
}

.page-title .heading {
    font-size:24px;
    color:#e88660;
    padding:7px 0 4px
}

.page-title .title-page h2 {
    position:absolute;
    width:50%;
    padding:0;
    margin:0;
    text-align:right;
    padding-right:48px;
    color:#555;
    font-family:"Merriweather";
    font-size:25px;
    margin-top:20px;
    text-transform:uppercase
}

.page-title .title-page h3 {
    position:absolute;
    width:50%;
    right:0;
    text-align:left;
    padding-left:48px;
    color:#bbb;
    font-size:24px;
    margin-top:20px
}

.page-title .icon-circle {
    color:#ddd;
    display:inline-block;
    border-radius:60px;
    border:solid 1px #d2d2d2;
    margin-bottom:-8px
}

.page-title i {
    width:56px;
    height:56px;
    padding:20px;
    color:#fff;
    margin:5px;
    background:#f29433;
    border-radius:60px
}

.page-title h2 {
    margin:40px 0 30px;
    font-size:40px;
    letter-spacing:0;
    color:#f8eed3
}

p.sub-heading {
    display:inline-block;
    color:#fff;
    font-size:11px;
    color:#999;
    letter-spacing:8px;
	text-transform:uppercase;
	font-weight:600;
}

.title-style-2 {
    text-align:center;
    color:#e88660;
    border:solid 1px #e88660;
    border-left:none;
    border-right:none;
    padding:12px 0;
    font-size:24px
}

/* --------------- pagination --------------- */
.pagination li a {
    color:#e88660;
    background:#fff;
    border-color:#e88660;
	padding:20px;
}

.pagination > li > a{
border:solid 1px #ddd;
}

.pagination li a :hover,.pagination li.active a,.pagination li.active a:hover, .pagination > li:hover > a {
    color:#fff!important;
    background:#e88660;
    border-color:#e88660;
}

/* --------------- social icons --------------- */
.social-icons i {
    text-align:center;
    color:#fff!important;
    font-size:20px!important;    
    border-radius:60px;
    padding:8px!important;
    width:38px;
    height:38px;
    margin-bottom:10px!important;
	background:#e88660;
    border:solid 2px #e88660;
}

.social-icons i:hover {
    color:#fff;
    border:solid 2px rgba(255,255,255,.3);
	background:none;
}

.social-icons a {
}

/* --------------- spacer --------------- */
.spacer-half {
    width:100%;
    height:15px;
    display:block;
    clear:both
}

.spacer-single {
    width:100%;
    height:30px;
    display:block;
    clear:both
}

.spacer-double {
    width:100%;
    height:60px;
    display:block;
    clear:both
}

/* ////////////////////////////////////////////////////////////  */
/* breadcrumb */
/* ////////////////////////////////////////////////////////////  */
.crumb {
    float:right;
    margin-top:18px;
    font-size:12px
}

.crumbs {
    color:#fff
}

.crumb li {
    display:inline;
    text-decoration:none;
    padding:0 2px
}

/* --------------- tabs --------------- */
.ex_tab .ex_nav {
    overflow:hidden;
    padding-left:0;
    margin:0;
    padding:0;
    margin-bottom:20px
}

.ex_tab .ex_nav li {
    float:left;
    list-style:none;
    margin-right:10px
}

.ex_tab .ex_nav li span {
    padding:2px 16px;
    border-bottom:1px solid #e88660;
    display:block;
    text-decoration:none;
    color:#e88660;
    cursor:pointer
}

.ex_tab .ex_nav li span.active {
    background:#e88660;
    color:#fff;
    margin-bottom:-3px
}

.ex_tab.tab-style-2 .ex_nav {
    display:inline-block;
    max-width:400px;
    margin-bottom:0
}

.ex_tab.tab-style-2 .ex_nav li {
    display:inline-block;
    float:none;
    padding-bottom:10px
}

.ex_tab.tab-style-2 {
    display:inline-block;
    max-width:600px;
    text-align:center
}

.ex_tab.custom-tab {
    text-align:center
}

.ex_tab.custom-tab h3 {
    font-size:16px;
    font-weight:700;
    margin-bottom:40px
}

.ex_tab.custom-tab .ex_nav {
    display:inline-block;
    margin-top:40px;
    margin-bottom:0
}

.ex_tab.custom-tab .ex_nav li {
    display:inline-block;
    float:none;
    padding-bottom:10px
}

.ex_tab.custom-tab .ex_nav li span {
    border:none;
    padding:0;
    margin:0 20px
}

.ex_tab.custom-tab .ex_nav li span.active {
    background:none;
    color:#403633
}

.ex_tab.custom-tab {
    display:inline-block;
    max-width:600px;
    text-align:center
}

.tab-small-post ul {
    list-style:none;
    margin:0;
    padding:0
}

.tab-small-post ul li {
    min-height:60px;
    margin-bottom:15px;
    padding-bottom:10px;
    border-bottom:solid 1px #ddd
}

.tab-small-post ul li:last-child {
    border-bottom:none;
    margin-bottom:0;
    padding-bottom:0
}

.tab-small-post ul li img {
    position:absolute
}

.tab-small-post ul li span {
    display:block;
    padding-left:64px
}

.tab-small-post ul li span.post-content a {
}

.tab-small-post ul li span.post-date {
    font-size:11px
}

/* --------------- team --------------- */
.team-list {
    float:left;
    width:49.5%
}

.team-list.right {
    float:left
}

.team-list .text {
    width:30%;
    float:right;
    display:none
}

.team-list.right .text {
    width:30%;
    float:left
}

.team-list.left {
    text-align:right
}

.team-list .img-container {
    background:#000
}

.team-list img {
    width:100%;
    border-style:solid;
    border-color:#fff;
    border-width:0
}

.team-list.left .image-container {
    width:50%;
    float:right;
    margin-left:30px;
    background:#403633
}

.team-list.right .image-container {
    width:50%;
    float:left;
    margin-right:30px;
    background:#403633
}

.team {
    margin-bottom:30px;
    text-align:center
}

.team h5 {
    margin-bottom:0
}

.team_photo {
    margin-bottom:10px
}

.team img.team-pic {
    width:100%;
    height:auto
}

.team_desc {
    font-style:italic;
    margin-bottom:10px
}

.team .sb-icons {
    padding:10px 0 0
}

.team .sb-icons img {
    margin-right:5px
}

.team .columns {
    margin-bottom:30px
}

/* --------------- timeline --------------- */
.timeline-year, .timeline-year li{
	list-style:none;
	padding:0;
	margin:0;
	}
	
	.timeline-year{
	position:relative;
	}
	
	.timeline-year:before{
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 1px;
	background-color: #e88660;
	opacity:.3;
	left:40px;
	margin-left: -1.5px;
	}

	.timeline-year li{
	margin-bottom:30px;
	}

	.timeline-year .num{
	position:absolute;
	background:#e88660;
	color:#fff;
	width:75px;
	height:75px;
	text-align:center;
	padding-top:23px;
	font-weight:bold;
	border-radius:60px;
	-moz-border-radius:60px;
	-webkit-border-radius:60px;
	}

	.timeline-year .post{
	padding-left:120px;
	margin-bottom:20px;
	}

/* --------------- menu --------------- */
#menu-btn {
    display:none;
    float:right;
    margin-top:12px;
    width:36px;
    height:36px;
    background:#e88660;
    padding:6px;
	padding-top:7px;
    text-align:center;
    cursor:pointer;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px
}

#menu-btn:before {
    font-family:FontAwesome;
    content:"\f0c9";
    font-size:24px;
    color:#fff;
}

#menu-btn:hover{
	background:#ffffff;
}


#menu-btn:hover:before{
	color:#e88660;
}


#menu-view-container .menu-desc,#menu-view-container .menu-desc-2 {
    width:24.98%;
    float:left
}

#menu-view-container .menu-desc {
    text-align:right
}

#menu-view-container .menu-desc.left {
    text-align:left
}

#menu-view-container .menu-desc h3 {
    font-weight:700;
    font-size:24px
}

#menu-view-container .menu-images {
    float:left;
    width:49.85%
}

#menu-view-container .menu-images img {
    width:100%;
    height:auto
}

#menu-view-container .inner {
    padding:40px
}

#divPage .btn-wrapper {
    padding:40px;
    text-align:center
}

/* -------------------------------------------------- */
/* video */
/* -------------------------------------------------- */
video,object {
    position:absolute;
    right:0;
    bottom:0;
    width:auto;
    min-width:100%;
    height:auto;
    min-height:100%;
    z-index:0;
    background:transparent url(video-bg.jpg) no-repeat;
    background-size:cover
}

/* ////////////////////////////////////////////////////////////  */
/* header */
/* ////////////////////////////////////////////////////////////  */
header {
    background:#fff;
	border-bottom:solid 1px #eee;
    width:100%;
    z-index:100;
}

header.fixed {
    position:fixed;
    z-index:1000;
    top:0!important;
	left:0;
}

header.clone {
    display:block!important;
    top:-100px;
    width:100%;
    position:fixed;
    transition:.4s top ease-in
}
header.transparent{
	position:absolute;
	background:none;
	margin-top:-15px;
	border:none;
}
header.transparent #mainmenu a{
	color:#fff;
}

.boxed-style header.fixed{
position:inherit !important;
}

header.static {
    top:40px
}

#header-info {
	color:#333;
    width:100%;
    z-index:900;
    padding:10px 0;
    width:100%;
	font-size:15px;
    background:#fff;
	border-bottom:solid 1px #eee;
}

#header-info .h_box {
    float:right;
    margin-left:10px
}

#header-info .h_box a{
color:#333;
}

#header-info .h_box a:hover{
color:#e88660;;
}

#header-info .h_inner {
    padding:5px;
    float:right
}

#header-info .h_inner.phone_number {
    padding-left:15px;
    padding-right:15px;
    padding-top:7px
}

#header-info .fa {
    float:none;
}

#header-info .flags {
    margin-left:10px;
    margin-right:10px
}

#header-info .flags img {
    margin:0 2px 2px
}

.header-contact {
    padding:0;
    margin:0
}

.header-contact li {
    font-size:11px;
    display:inline-block;
    list-style:none;
    text-transform:uppercase;
    margin-right:40px;
    padding:0
}

li.icon_location:before,li.icon_phone:before,li.icon_email:before {
    font-family:"FontAwesome";
    font-size:14px;
    margin-right:15px;
    color:#e88660;
	font-weight:300;
}

li.icon_location:before {
    content:"\f041"
}

li.icon_phone:before {
    content:"\f095"
}

li.icon_email:before {
    content:"\f0e0"
}

#default-page header.clone {
    top:0
}

body.down header.clone {
    top:0;
    left:0;
    right:0;
    z-index:999
}

/* --------------- logo --------------- */
#logo {
    float:left
}

#logo .inner {
    display:table-cell;
    vertical-align:middle;
    height:80px
}

#logo .inner img {
    height:100%;
    padding:10px 0
}

#logo-intro {
    position:absolute;
    width:100%;
    text-align:center;
    z-index:100
}

#logo-intro img {
    margin-top:130px
}

/* --------------- mainmenu --------------- */
#mainmenu {
	font-family:"Merriweather";
    float:right;
    height:60px;
    font-size:13px;
    font-weight:700;
	letter-spacing:0px;
	font-weight:normal;
}

#mainmenu ul {
    float:right;
    margin:0;
    padding:0;
    height:30px
}

#mainmenu li {
    margin:0;
    padding:0;
    float:left;
    display:inline;
    list-style:none;
    position:relative
}


#mainmenu a {
    display:block;
    padding:25px 15px 20px;
    line-height:35px;
    text-decoration:none;
    color:#333;
    text-align:center;
    outline:none
}

#mainmenu a:hover {
    color:#e88660
}

#mainmenu a.active {
    color:#e88660
}

#mainmenu li li {
    font-size:12px;
    font-weight:400;
    border-bottom:solid 1px #eee;
}

#mainmenu li li:last-child {
    border-bottom:none
}

#mainmenu li li a {
    padding:2px 15px;
    background:#fff;
    border-top:none;
    width:170px;
    border-left:none;
    text-align:left;
	text-transform:none;
}

#mainmenu li li li a {
    padding:2px 15px;
    background:#eee;
}

#mainmenu li li a:hover {
}

#mainmenu li ul {
    height:auto;
    position:absolute;
    top:100%;
    left:0;
    z-index:10;
    display:none;
    border:solid 1px #eee
}

#mainmenu li li {
    display:block;
    float:none
}

#mainmenu li:hover > ul {
    display:block
}

#mainmenu li ul ul {
    left:100%;
    top:0
}

#mainmenu li:hover > ul {
    color:#271f1c
}

#mainmenu select {
    padding:10px;
    height:36px;
    font-size:14px;
    border:none;
    background:#ff4200;
    color:#fff
}

#mainmenu select option {
    padding:10px
}

.selectnav {
    display:none
}

/* --------------- subheader --------------- */
#subheader h1 {
    color:#fff;
    font-size:40px;
    border:solid 1px rgba(255,255,255,.3);
    border-left:none;
    padding:10px 20px 10px 20px;
    border-right:none;
    display:inline-block
}

#subheader h3{
	color:#fff;
	font-family:"Open Sans";
	font-size:14px;
	letter-spacing:2px;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:0;
}

#subheader {
    color:#e88660;
    padding:80px 0 80px 0;
    font-size:12px;
    text-align:center
}

#subheader.scroll{
	padding-top:160px;
}

#carousel-banner{
cursor:grab;
}

.section-top{
	padding-top:80;
}
.section-top.scroll{
	padding-top:180px;
}

#subheader span {
    margin-left:20px
}

.owl-theme .owl-controls .owl-page span {
    background:#e88660!important;
    width:10px!important;
    height:10px!important;
    margin-top:60px
}

.owl-pagination {
    margin-top:60px
}

.room-pic-slider .owl-pagination {
    margin-top:20px
}

.room-pic-slider img {
    width:100%;
    height:auto
}

.owl-cst-prev,.owl-cst-next {
    padding:20px;
    position:absolute;
    margin-top:205px;
    border:solid 1px #ccc;
    cursor:pointer
}

.owl-cst-prev:hover,.owl-cst-next:hover {
    border-color:#333
}

.owl-cst-prev {
    left:-1px
}

.owl-cst-prev:before,.owl-cst-next:before {
    font-family:"FontAwesome";
    font-size:32px;
    line-height:1;
    display:inline-block;
    content:'\f060';
    color:#888;
}

.owl-cst-next:before {
    content:'\f061'
}

.owl-cst-prev:hover:before,.owl-cst-next:hover:before {
    color:#333
}

.owl-cst-next {
    right:-1px
}

.owl-custom-nav{
display:block;
text-align:center;
margin-bottom:10px;
}

.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:before{
display:inline-block;
margin:0 5px 0 5px;
border-radius:30px;
padding:12px 20px 12px 20px;
cursor:pointer;
}

.owl-custom-nav .btn-next:before{
font-family:"FontAwesome";
content:"\f105";
color:#fff;
background:#e88660;
width:45px;
height:45px;
}
.owl-custom-nav .btn-prev:before{
font-family:"FontAwesome";
content:"\f104";
color:#fff;
background:#e88660;
width:45px;
height:45px;
}

.owl-custom-nav a{
	text-decoration:none;
}

.owl-custom-nav .btn-prev:hover:before,
.owl-custom-nav .btn-next:hover:before{
	background:#eee;
	color:#333;
}

.intro-page {
    text-align:center;
    padding:60px 0
}

.intro-text {
    list-style:none;
    text-transform:none;
    letter-spacing:normal;
    font-size:100px;
    color:#e88660!important;
    padding:0;
    font-weight:400;
    line-height:120px;
    margin:40px 0 30px
}

.sub-intro-text {
    display:block;
    text-align:center
}

.sub-intro-text .inner-text {
    padding:7px 0;
    font-size:24px
}

.tp_title {
    color:#fff;
    font-family:"Merriweather";
    text-transform:uppercase;
    font-size:36px;
    position:absolute;
    color:#fff;
    text-shadow:none;
    line-height:20px;
    margin:0;
    border-width:0;
    border-style:none;
    white-space:nowrap;
    padding:22px 20px 0;
    background:#555;
    background:rgba(0,0,0,.8)
}

.tp_text {
    color:#fff;
    font-size:16px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:5px
}

.bg_text {
}


a.btn-slider,a.btn-slider:visited {
    background:#e88660;
    color:#fff;
    display:inline-block;
    min-width:140px;
    font-size:13px;
    text-align:center;
    text-transform:uppercase;
    padding:7px 30px;
    letter-spacing:normal;
    font-weight:700
}

a.btn-slider:after{
    font-family:"FontAwesome";
    content:  "\f178";
    color:#fff;
	margin-left:10px;
}

a.btn-slider,a.btn-custom,input.btn-custom{
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
a.btn-slider:hover,a.btn-custom:hover,input.btn-custom:hover {
    opacity:.8;
    color:#fff!important;
	text-decoration:none;
	box-shadow: 5px 5px 30px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 30px -2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px 30px -2px rgba(0,0,0,0.3);
}


.text-white a.btn-text,a.btn-text:hover{
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
}
a.btn-text:hover{
	margin-left:5px;
	opacity:.8;
}
a.btn-text:after{
    font-family:"FontAwesome";
    content:  "\f178";
    color:#fff;
	margin-left:10px;
}

.text-white a.btn-close,a.btn-close:hover{
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
}
a.btn-close:hover{
	margin-left:5px;
	opacity:.8;
}
a.btn-close:after{
    font-family:"FontAwesome";
    content:  "\f00d";
    color:#fff;
	margin-left:10px;
}

#wrapper {
    margin:0 auto;
	margin:30px;
	border:solid 1px #eee;
	position:relative;
	overflow:hidden;
}

.border-t {
    border-bottom:solid 1px #d2d2d2;
    width:50%;
    position:absolute
}

.border-b {
    border-bottom:solid 1px #d2d2d2;
    width:50%;
    position:absolute;
    right:0
}

/* ////////////////////////////////////////////////////////////  */
/* content */
/* ////////////////////////////////////////////////////////////  */
#content {
    background:#fff;
    padding:90px 0;
    position:relative;
    overflow:hidden;
}

#content.content-page {
    background:#271f1c
}

#content.content-page a {
    color:#e88660
}

/* ////////////////////////////////////////////////////////////  */
/* contact */
/* ////////////////////////////////////////////////////////////  */
.error {
    border:none;
    display:none;
    color:#C03;
    font-size:12px;
    text-align:right;
    float:right
}

.success {
    display:none;
    color:#093;
    background:none;
    margin-bottom:20px
}

.error img {
    vertical-align:top
}

#contact_form input[placeholder],#contact_form textarea[placeholder] {
    color:#fff!important
}

::-webkit-input-placeholder {
    color:#fff!important
}

::-moz-placeholder {
    color:#fff!important
}

/* firefox 19+ */
:-ms-input-placeholder {
    color:#fff!important
}

/* ie */
input:-moz-placeholder {
    color:#333!important
}

/* ////////////////////////////////////////////////////////////  */
/* booking */
/* ////////////////////////////////////////////////////////////  */

.lt-form {
}

.lt-form i {
    margin:0 10px 0 -5px;
    float:none;
    padding:0;
    font-size:16px;
    color:#fff;
}

.lt-form .label {
    font-size:14px;
    font-weight:lighter;
    display:block;
    width:100%;
    border-radius:0;
    text-align:left;
    padding:10px;
    padding-left:20px;
    color:#fff;
    background:#e88660;
    font-size:12px;
	font-weight:500;
}
.lt-form.s2 .label {
    color:#333333;
    background:#ffffff;
	border:solid 1px #ddd;
	border-bottom:none;
}
.lt-form.s2 i{
	color:#e88660;
}

.lt-form.s3 .label {
    color:#ffffff;
    background:none;
	border:solid 1px #ddd;
	border-bottom:none;
}
.lt-form.s3 i{
	color:#e88660;
}

.lt-form.s3 textarea {
    height:63px;
}

.lt-form.s4 .label {
    color:#333333;
    background:#ffffff;
	border:solid 1px #ddd;
	border-bottom:none;
}

.lt-form.s4 i{
	color:#e88660;
}

.lt-form.s4 textarea {
    height:63px;
}

.lt-form input,.lt-form textarea,.lt-form select {
    margin-bottom:30px;
    background:rgba(255,255,255,.7);
    border:solid 1px #ddd;
    border-radius:0!important;
    -moz-border-radius:0!important;
    -webkit-border-radius:0!important;
}

.lt-form input[type=button] {
    margin-top:20px;
    border:none!important
}

.lt-form input:focus,.lt-form textarea:focus,.lt-form select:focus,.subscribe input:focus {
	background:#fff;
    border-color:#e88660;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.lt-form textarea {
    height:265px
}

#contact_form textarea {
    height:140px
}

.lt-form textarea.contact {
    height:144px;
    margin:0
}

.lt-form .btn-custom {
    border:none!important
}

.lt-form .error-icon {
    display:none;
    position:absolute;
    float:none;
    font-size:20px;
    right:0;
    margin-top:-18px;
    margin-right:30px;
    color:#fe0000
}

.lt-form select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:url(../images/arrow-down.png) 96% top no-repeat rgba(255,255,255,.8)
}

.lt-form select:focus {
    background:url(../images/arrow-down.png) 96% top no-repeat #fff;
}

#coming-soon-content{
	position:absolute;
	width:100%;
	z-index:2000;
	display:none;
	margin-top:100%;
	opacity:0;
}

#coming-soon-content.cs-show{
	margin-top:0;
}

#section-coming-soon-intro.cs-show{
	opacity:0;
}

.img-auto-center{
	margin:0 auto;
}


#preloader {
position: fixed;
z-index: 100001;
width: 100%;
height: 100%; 
background: url(../images/loader.gif) center center no-repeat #fff !important;
}


#quick-book{
padding-bottom:0px;
padding-top:30px;
z-index:100;
position:relative;
background:#b45d3b;
}

#quick-book.s2{
margin-top:-95px;
padding-top:30px;
padding-bottom:0px;
z-index:100;
position:absolute;
width:100%;
background:rgba(40,40,40,.2);
}


#quick-book.s2:hover{
background:#b45d3b;	
}

#quick-book .label{
background:none;
}

#quick-book .label{
padding-top:0;
padding-left:8px;
}

#quick-book .btn-custom{
height:35px;
}

#quick-book .btn-custom:after{
    font-family:"FontAwesome";
    content:  "\f178";
    color:#fff;
	margin-left:10px;
}


#quick-book .col-md-4{
float:left;
width:23%;
margin-right:2%;
}

#quick-book input,#quick-book select{
	color:#fff;
	background:none;
	border:none;
	border-bottom:solid 2px #e88660;
	padding:5px 0 5px 0;
	box-shadow:none !important;
}

#quick-book.s2 input,#quick-book.s2 select{
	color:#fff;
	background:none;
	border:none;
	border-bottom:solid 2px #e88660;
	padding:5px 0 5px 0;
	box-shadow:none !important;
}

.lt-form-2 .form-control{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.lt-form-2 input,.lt-form-2 select{
	color:#fff;
	background:none;
	border:none;
	border-bottom:solid 2px #e88660;
	padding:5px 0 5px 0;
	box-shadow:none !important;
}

#quick-book select:hover:focus{
	color:#222;
}


/* ////////////////////////////////////////////////////////////  */
/* gallery */
/* ////////////////////////////////////////////////////////////  */
.gallery-item {
}

.gallery-item img {
    width:100%
}

#gallery .item {
    text-align:center;
    font-size:12px;
    width:24.98%;
    float:left
}

#gallery.gallery-3-cols .item {
    width:33.3%
}

#gallery.gallery-2-cols .item {
    width:49.9%
}

#gallery .item img {
    width:100%;
    height:auto
}

#gallery.gallery-masonry .item{
	width:19.95%;
}

#gallery.gallery-masonry .big-width {
	width:39.85%;	
}

#gallery .item h4 {
    margin-bottom:0;
    font-size:14px
}

.pf_text {
    color:#fff;
    text-shadow:1px 1px rgba(000,000,000,0.5)
}

.pf_text h4 {
    color:#fff;
    margin-bottom:0;
    font-size:14px;
    font-weight:600
}

.gallery-masonry .pf_text{
	display:none;
}

.project-name {
    font-size:14px;
    display:block;
    text-shadow:none
}

span.overlay {
	font-family:"Playfair Display";
    font-size:16px;
    color:#333333;
    text-align:center;
    display:block;
    display:none;
    width:100px;
    background:#ffffff;
    position:absolute;
    padding-top:28%;
	letter-spacing:0;
}

.overlay {
    position:absolute;
    background:#271f1c
}

.overlay span {
    display:block;
    text-align:center;
    font-size:16px;
    margin-bottom:10px
}

.overlay .icon-plus {
    display:inline-block;
    width:33px;
    height:33px;
    background:url(../images/plus.png) top no-repeat
}

.overlay span i {
    display:inline-block;
    float:none;
    font-size:32px
}

.overlay .info-area {
    display:block;
    margin-top:10%
}

.overlay .sb-icons {
    display:block;
    margin-top:10%
}

span.overlay {
    text-align:center;
    display:block;
    position:absolute
}

.overlay .info-area {
    display:block;
    margin-top:10%
}

.overlay .sb-icons {
    display:block
}

.de-gallery .overlay {
    text-align:center
}

.de-gallery .overlay .icon {
    display:inline-block;
    text-align:center
}

.de-gallery .overlay .icon i {
    text-shadow:none;
    color:#fff;
    font-size:26px;
    padding:16px;
    width:60px;
    height:60px;
    text-align:center;
    border-radius:60px;
    margin-left:10px;
    border:solid 2px #fff
}

.de-gallery .overlay .icon i.icon-info {
    margin-left:0
}

.de-gallery .overlay .icon i:hover {
    color:#222;
    background:#fff
}

.overlay-2{
	padding-top:30%;
	opacity:0;
	width:100%;
	height:100%;
	position:absolute;
	background:#e88660;
	color:#fff;
	text-align:center;
}

.overlay-2:hover{
	opacity:1;
}

.pic-hover{
	position:relative;
	display:table;
}

.pic-hover .hover{
	position:absolute;
	background:#333;
	color:#fff;
	width:100%;
	height:100px;
	
}
.pic-hover .hover h3{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.pic-hover:hover .hover{
}

.pic-overlay{
	position:relative;
}

.pic-overlay .layer-top{
	display:table;
	position:absolute;
	background:rgba(0,0,0,.5);
	z-index:100;
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	vertical-align:middle;
}

.custom-box:hover .pic-overlay .layer-top{
	opacity:0;
}

.pic-overlay .layer-top h4, .pic-overlay .price_from{
	color:#fff;
}

.pic-overlay .layer-top .text{
	display:table-cell;
	vertical-align:middle;
}

#div-1a {
    position:absolute;
    top:0;
    left:0;
	width:100%;
    height:100%;
}

#div-1b {
    position:absolute;
    top:0;
    right:0;
	width:100%;
    height:100%;
}

.table-container {
    height:100%;
    width:100%;
    display:table;
}

#div_a {
	text-align:center;
    vertical-align:middle;
	width:100%;
    height:100%;
    display:table-cell;
    border:1px solid #000;
	background:#fff;
}

#div_b {
    vertical-align:middle;
	width:100%;
    height:100%;
    display:table-cell;
    border:1px solid #000;
}

/* ////////////////////////////////////////////////////////////---------- */
/* section
/* ////////////////////////////////////////////////////////////---------- */
section {
    background-position:0;
    padding:80px 0;
    background:#fff;
	position:relative;
	z-index:1;
	background-size:cover !important;
}

.side-bg {
position: relative;
}

.side-bg .image-container {
height: 100%;
overflow: hidden;
padding: 0;
position: absolute;
top: 0;
}

.side-bg .background-image {
background-position: 50% 50% !important;
background-size: cover !important;
width: 100%;
height: 100%;
left: 0;
position: absolute;
z-index: 0;
}

#section-facilities{
	background:#f7f7f7;
}

#section-facilities.side-bg .background-image {
    background: url(../images/bg/bg-side-2.jpg);
}

#section-facilities-2{
	background: url(../images/bg/bg-pic-9.jpg) left top;
}

#section-facilities-3{
	background: url(../images/bg/bg-pic-19.jpg) left top no-repeat;
}

#section-facilities-4{
	background: url(../images/bg/bg-pic-21.jpg) left top no-repeat;
}
#section-facilities-5{
	background: url(../images/bg/bg-pic-9e.jpg) center top;
}

#section-facilities-6{
	background: url(../images/bg/bg-pic-36.jpg) center top no-repeat;
}

#section-404{
	background: url(../images/bg/bg-pic-23.jpg) top center no-repeat;
}


#section-book{
	background: url(../images/bg/bg-pic-10.jpg) left top no-repeat;
	background-size:cover;
}
#section-hero-form{background: url(../images/bg/bg-pic-11.jpg) center fixed no-repeat; background-size:cover;}
#section-hero-1{background: url(../images/bg/bg-pic-20.jpg) center fixed no-repeat; background-size:cover;}
#section-hero-2{background: url(../images/bg/bg-pic-34.jpg) center fixed no-repeat; background-size:cover;}
#section-hero-3{background: url(../images/bg/bg-pic-21.jpg) center fixed no-repeat; background-size:cover;}

#section-book-3{
	background: url(../images/bg/bg-pic-24.jpg) top no-repeat; background-size:cover;
}

#section-book-4{
	background: url(../images/bg/bg-pic-37.jpg) top no-repeat; background-size:cover;
}

#section-package-2{
	background: url(../images/bg/bg-pic-12.jpg) top no-repeat fixed; background-size:cover;
}

#section-explore-1{background: url(../images/bg/bg-pic-14.jpg) top no-repeat fixed; background-size:cover;}
#section-explore-2{background: url(../images/bg/bg-pic-13.jpg) top no-repeat fixed; background-size:cover;}
#section-explore-3{background: url(../images/bg/bg-pic-15.jpg) top no-repeat fixed; background-size:cover;}
#section-explore-4{background: url(../images/bg/bg-pic-16.jpg) top no-repeat fixed; background-size:cover;}
#section-explore-5{background: url(../images/bg/bg-pic-16-b.jpg) top no-repeat fixed; background-size:cover;}
#section-explore-8{background: url(../images/bg/bg-pic-16-C.jpg) top no-repeat fixed; background-size:cover;}

#section-illustration-1{background: url(../images/bg/bg-pic-39a.jpg) top no-repeat fixed;}
#section-illustration-2{background: url(../images/bg/bg-pic-39b.jpg) top no-repeat fixed;}




.side-bg .inner-padding{
padding:40px 0 40px 0;
}

#section-explore-6.side-bg .background-image {background:url('../images/bg/bg-pic-17.jpg') center;}
#section-explore-7.side-bg .background-image {background:url('../images/bg/bg-side-4.jpg') center;}
#section-sb-about-1.side-bg .background-image {background:url('../images/bg/bg-side-3.jpg') center;}
#section-offers_accomodation_sc_1{background: url(../images/bg/bg-pic-30.jpg) top no-repeat;}
#section-offers_facilities_list_sc_1{background: url(../images/bg/bg-pic-27.jpg) bottom no-repeat;}
#section-offers_wedding_sc_1{background: url(../images/bg/bg-pic-28.jpg) bottom no-repeat;}
#section-offers_wedding_sc_2{background: url(../images/bg/bg-pic-38.jpg) top no-repeat;}
#section-offers_delicious_sc_1{background: url(../images/bg/bg-pic-155.jpg) bottom no-repeat;}
#section-offers_spa_sc_1{background: url(../images/bg/bg-pic-26.jpg) bottom no-repeat;}
#section-aboutus_1_details{background: url(../images/bg/bg-pic-30a.jpg) top no-repeat;}
#section-aboutus_2_details{background: url(../images/bg/bg-pic-30b.jpg) top no-repeat;}
#section-aboutus_3_details{background: url(../images/bg/bg-pic-30c.jpg) top no-repeat;}
#section-tourism_details_1{background: url(../images/bg/bg-pic-13.jpg) top no-repeat;}
#section-gallery_1_tiles{background: url(../images/bg/bg-pic-31.jpg) top no-repeat;}
#section-features_1_tiles{background: url(../images/bg/bg-pic-32.jpg) top no-repeat;}
#section-contact{background: url(../images/bg/bg-pic-29.jpg) top no-repeat fixed;}
#section-news{background: url(../images/bg/bg-pic-33.jpg) bottom no-repeat; background-size:100%;}
#section-news-2{background: url(../images/bg/bg-pic-32.jpg) bottom no-repeat;}
#section-rooms{background: url(../images/bg/bg-pic-3.jpg) top;}
#section-rooms-2{background: url(../images/bg/bg-pic-3b.jpg) top;}
#section-rooms-3{background: url(../images/bg/bg-pic-3-b.jpg) top;}
#section-rooms-4{background: url(../images/bg/bg-pic-33.jpg) top;}

#section-coming-soon-intro{
	background: url(../images/coming-soon/bg-1.jpg) top no-repeat;
}

#coming-soon-content{
	background: url(../images/coming-soon/bg-2.jpg) top no-repeat;
}

#subheader-side{
	background: url(../images/bg/bg-subheader-2.jpg) top no-repeat;
}

#subheader {
    background:url(../images/bg/bg-subheader-1.jpg) bottom fixed;
    background-size:cover;
}

section.subheader{
	padding:110px 0 80px 0;
}

#page-menu {
    background:#f8eed3
}

#page-packages {
    background: url(../images/bg/bg-pic-7.jpg) bottom;
}

#page-services {
}

#page-experts {
    background:url(../images/bg/expert-paralax.jpg) top fixed
}

#section-testimonial {
    background:url(../images/bg/bg-pic-6.jpg) top center #f5f1f0;
    background-size:cover 100%;
	padding-bottom:400px;
}

#page-about,#page-rooms {
    background:#f5f1f0;
}


#page-package {
    background: url(../images/bg/bg-pic-7.jpg) top;
}

#page-booking {
    background:url(../images/bg/bg-pic-5.jpg);
    background-size:cover;
    background-attachment:fixed
}

#page-rooms-3 {
    background:url(../images/bg/bg-pic-3.jpg) top;
}

#booking-btn-container {
    padding:80px 0;
    background:#e88660
}

section.space-top {
    padding-top:60px!important
}

#about-section-1 {
    height:480px;
    background:url(../images/bg/bg-pic-1.jpg) top fixed;
    position:relative
}

#section-single-room-carousel{background:url(../images/bg/bg-pic-25.jpg) top fixed;}

#about-section-1 .inner-text {
    background:rgba(242,148,51,.7);
    bottom:0;
    color:#fff;
    display:block;
    font-family:"Merriweather";
    font-size:25px;
    padding:40px 0;
    position:absolute;
    width:100%
}

#page-about-2 {
    background:#eee;
}

#bg-main,#bg-main-2 {
    position:fixed;
    right:0;
    bottom:0;
    width:auto;
    min-width:100%;
    height:auto;
    min-height:100%;
    z-index:-100;
    background:transparent url(video-bg.jpg) no-repeat;
    background-size:cover;
    background:url(../images/bg/bg-main.jpg) top fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}

#bg-main-2 {
    background:url(../images/bg/bg-pic-6.jpg) top fixed
}

#bg-welcome {
    background:url(../images/bg/bg-pic-1.jpg) center fixed;
    height:480px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}


#page-contact {
    background:url(../images/bg/bg-pic-4.jpg) top fixed
}

/* call to action
------------------------------ */

	.call-to-action h2 {
	margin: 0;
	padding: 0;
	}	
	
	.call-to-action {
	background: #e88660;
	padding: 30px 0 30px 0;
	}

	.call-to-action h2 {
	color: #fff;
	text-transform: none;
	letter-spacing: 0;
	margin-top: 5px;
	font-size: 24px;
	}
	


/* ////////////////////////////////////////////////////////////  */
/* blog */
/* ////////////////////////////////////////////////////////////  */
.news-item {
    margin-bottom:30px;
}

.news-item .desc {
    padding:20px;
    background:#f8f8f8;
    color:#808080
}

.news-item a h3 {
    font-size:18px;
    margin-bottom:5px!important;
    color:#e88660!important
}

.news-item .post-details {
    font-size:11px;
    color:#888;
    margin-bottom:10px
}

.news-item .fa {
    float:none;
    margin:0;
    color:#e88660
}

.news-item .separator {
    text-align:center;
    padding:0 10px
}

.news-item .quote {
    background:#e88660;
    padding:25px;
    color:#fff;
    font-size:16px;
    font-style:italic
}

.blog-list {
    margin:0;
    padding:0
}

/* blog list */
.blog-list li {
    list-style:none;
    background:url(../images/dotwhite50.png);
    line-height:1.7em;
    margin-bottom:80px;
    margin-top:30px
}

.blog-list .blog-slider {
    margin-bottom:-60px
}

.blog-slider img {
    width:100%;
    height:auto
}

.blog-list .date-box {
    width:60px;
    float:left;
    text-align:center;
    text-shadow:none;
    border:solid 1px #e88660
}

.blog-list .date-box .day {
    display:block;
    font-size:32px;
    color:#e88660;
    padding:10px;
    font-weight:700;
    border-bottom:solid 1px #e88660
}

.blog-list .date-box .month {
    text-align:center;
    background:none;
    font-size:14px
}

.blog-title {
    float:left;
    display:inline-block;
    margin-left:20px
}

.blog-title h3 {
    margin:0;
    margin-top:10px;
    margin-bottom:5px
}

.blog-title h3 a {
    color:#f8eed3!important
}

.post-text {
    margin-top:20px
}

/* blog carousel */
.blog-carousel {
    list-style:none;
    text-align:center;
    margin:0;
    padding:0;
	cursor:grab;
}

.blog-carousel li {
    background:#271f1c
}

.blog-carousel span {
    display:block
}

.blog-carousel span.title {
    font-size:20px;
    font-weight:700;
    margin-bottom:5px
}

.blog-carousel .text {
    padding:25px 30px 0;
    font-size:14px;
    line-height:1.7em
}

.blog-carousel img {
    width:100%
}

.blog-view-all {
    background:url(../images/bg/bg-blog-view-all.jpg) fixed bottom;
    text-align:center;
    padding:60px 0
}

/* blog comment */
#blog-comment {
    margin-top:40px;
    margin-left:80px
}

#blog-comment h5 {
    margin-bottom:10px
}

#blog-comment ul,#blog-comment li {
    list-style:none;
    margin-left:-30px;
    padding-left:0
}

#blog-comment li {
    min-height:70px;
    padding-bottom:10px;
    margin-bottom:10px;
    padding-bottom:20px;
    border-bottom:solid 1px #ddd
}

#blog-comment li .avatar {
    position:absolute;
    margin-top:5px
}

#blog-comment .comment {
    margin-left:85px
}

#blog-comment li {
    min-height:70px;
    font-size:14px;
    line-height:1.6em
}

#blog-comment li li {
    margin-left:55px;
    padding-bottom:0;
    margin-top:20px;
    padding-top:10px;
    border-top:solid 1px #eee;
    border-bottom:none
}

#blog-comment li li .avatar {
    position:absolute
}

#blog-comment li li .comment {
}

.comment-info {
    margin-left:85px;
    margin-bottom:5px
}

.comment-info span {
}

.comment-info .c_name {
    display:block;
    font-weight:700;
    color:#555
}

.comment-info .c_reply {
    padding-left:20px;
    margin-left:20px;
    border-left:solid 1px #ddd;
    font-size:12px
}

.comment-info .c_date {
    font-size:12px
}

.blog-list h3,.blog-read h3 {
    color:#333;
    letter-spacing:normal;
    font-size:24px
}

/* blog comment form */
#commentform label {
    display:block
}

#commentform input {
    width:290px
}

#commentform input:focus {
    border:solid 1px #999;
    background:#fff
}

#commentform textarea {
    width:97%;
    padding:5px;
    height:150px
}

#commentform textarea:focus {
    border:solid 1px #999;
    background:#fff
}

#commentform input.btn {
    width:auto
}

.post-meta {
    margin:20px 0 10px;
    padding:5px 0;
    border-top:solid 1px #e88660;
    border-bottom:solid 1px #e88660;
    font-size:11px
}

.post-meta a {
    color:#e88660!important
}

.post-meta span {
    margin-right:25px
}

.post-meta span i {
    float:none
}

.post-image img {
    width:100%;
    margin-bottom:20px
}

/* ////////////////////////////////////////////////////////////  */
/* footer */
/* ////////////////////////////////////////////////////////////  */
footer {
    background:#b45d3b;
    color:#fff;
    padding:80px 0 80px 0;
    font-size:12px
}

footer h3 {
	margin-bottom:20px;
    font-size:20px;
    color:#fff;
}

footer a {
    color:#ccc
}

footer a:visited {
    color:#ccc
}

footer a:hover {
    color:#fff
}

/* ////////////////////////////////////////////////////////////  */
/* overide */
/* ////////////////////////////////////////////////////////////  */
a,a:visited {
    color:#271f1c
}

a:hover {
    color:#333
}

.btn-primary {
    text-shadow:none;
    border:none!important
}

.btn.btn-primary:hover {
    background:#555
}

.btn-custom {
    font-size:13px;
    padding:10px 40px;
    text-decoration:none!important;
    background:#e88660!important;
    color:#fff!important;
	font-weight:bold;
	text-transform:uppercase;
	border:none;
}

a.btn-primary, a.btn-primary:hover {
    font-size:12px;
    padding:10px 30px;
    text-decoration:none;
    background:#e88660;
    color:#fff;
	font-weight:bold;
	border:none;
	min-height:120px;
}
a.btn-secondary{
	font-size:12px;
    padding:10px 30px;
    text-decoration:none;
    background:#fff;
    color:#555;
	font-weight:bold;
	border:none;
	min-height:120px;
}
a.btn-primary:hover,
a.btn-secondary:hover{
	opacity:.8;
}

.btn-fullwidth {
    width:100%
}

a.btn-border-light {
	display: block;
	border: solid 3px rgba(255,255,255,.5);
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 30px 5px 30px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	display: inline-block;
	}

	a.btn-border-light:hover {
	background: #eee;
	color: #222;
	text-decoration: none;
	}

a.btn-big {
    text-transform:uppercase;
    font-size:20px;
    border:solid 2px #fff;
    color:#fff;
    padding:15px 40px;
    text-decoration:none
}

a.btn-big:hover {
    border-color:#fff;
    background:#fff!important;
    color:#e88660!important
}


table thead {
    font-weight:700
}

.accordion-heading a {
    text-decoration:none;
    border:none;
    outline:none
}

.panel-heading h4 a {
    display:block
}

.panel-heading h4 a:hover {
    color:#fff
}

.panel-default,.panel-heading,.panel-collapse,.panel-body,.panel-collapse,.panel-group .panel {
    border:none!important;
    border-radius:0
}

.panel-heading {
    background:#222!important
}

blockquote {
    font-size:24px;
    font-style:italic;
    line-height:1.5em;
    font-weight:300
}

blockquote span {
    display:block;
    font-size:14px;
    font-style:normal;
    font-weight:400
}

.col-md-3 {
    margin-right:-1px
}

/* ////////////////////////////////////////////////////////////  */
/* plugin */
/* ////////////////////////////////////////////////////////////  */
/* --------------- owl slider testimonial --------------- */
.list-quotes {
    margin:0 auto;
    margin-top:50px;
    list-style:none;
    max-width:400px
}

.list-quotes li img {
    border:solid 1px #e88660;
    -moz-border:solid 1px #e88660;
    -webkit-border:solid 1px #e88660;
    padding:8px;
    margin-bottom:20px
}

.client-quotes {
    font-family:"Playfair Display";
    margin:0 auto;
    padding:0;
    list-style:none;
    max-width:700px;
    text-align:center;
	color:#222;
	
}

.testi.style-1 img{
	background: #fff;
	padding: 3px;
	margin-bottom: 20px;
	width: 100px;
	height: 100px;
	border-radius:60px;
}

.client-quotes .text {
    font-size:32px;
    line-height:1.4em;
    margin-bottom:20px;
}

.client-quotes i {
    margin:20px 0;
    color:#e88660
}
.client-quotes .name,.client-quotes .company{
	font-family:'Open Sans';
}
.client-quotes .name {
    font-weight:700;
}

.client-quotes .company {
    margin-bottom:20px;
}

.client-quotes li {
    margin:0!important;
    padding:0!important
}

.client-quotes li img {
    background:#fff;
    padding:3px;
    margin-bottom:10px;
    width:100px;
    height:100px
}

.client-quotes span {
    padding-right:10px
}

.client-quotes i {
    width:100%
}

/* ////////////////////////////////////////////////////////////  */
/* widget */
/* ////////////////////////////////////////////////////////////  */
#sidebar {
}

.widget {
    margin-bottom:60px
}

.widget h4 {
	font-weight:500;
    padding-bottom:10px;
    font-size:18px;
    letter-spacing:normal;
}

.widget ul {
    list-style:none;
    margin:0;
    padding:0
}

.widget_category li {
    border-bottom:solid 1px #ddd;
    padding-bottom:8px;
    margin-bottom:8px
}

.widget_category li a {
}

.widget_recent_post li {
    padding-left:20px;
    background:url(../images/list-arrow.png) left 2px no-repeat;
    border-bottom:solid 1px #333;
    padding-bottom:7px;
    margin-bottom:5px
}

.widget_recent_post li a {
    color:#555
}

.widget .comments li {
    padding-left:20px;
    background:url(../images/list-arrow.png) left 2px no-repeat;
    border-bottom:solid 1px #3f322d;
    padding-bottom:7px;
    margin-bottom:5px
}

.widget_tags li {
    text-shadow:none;
    display:inline-block;
    margin:0 5px 10px 0
}

.widget_tags li a {
    font-size:12px;
    text-decoration:none;
    margin-bottom:5px;
    border-radius:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    background:#e88660;
    color:#fff;
    padding:5px 8px
}

.widget_tags li a:hover {
    color:#e88660!important;
    background:#fff;
    border-color:#e88660
}

footer .widget_recent_post li {
    padding:0 0 5px;
    background:none;
    border-bottom-color:#3f322d
}

footer .widget_recent_post li a {
    color:#ccc
}

/* ////////////////////////////////////////////////////////////  */
/* miscellaneous */
/* ////////////////////////////////////////////////////////////  */
a {
    color:#e88660
}
/* test begin */

/* test end */

/* animate */
a,a:hover,.test-column,.test-column:hover,.sr-item h3,.sr-item h3.hover,.lt-form input,.lt-form textarea,.lt-form select,.social-icons i,#mainmenu li,#mainmenu li:hover,#mainmenu ul,
.f_box i, .f_box i:hover,
.faci-box .vc,
.faci-box:hover .vc,
a.click-big > span,
a.click-big > span i,
.faci-box-3 .text,
.faci-box-4 .text,
.custom-box .pic-overlay .layer-top,
#quick-book.s2,
.room-item .tags,
.room-item:hover .tags,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.owl-custom-nav .btn-prev:before,
.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:hover:before,
.owl-custom-nav .btn-next:hover:before,
#menu-btn,
#menu-btn:before,
.subscribe input
{
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s
}

.faci-box img,
.faci-box:hover img,
#coming-soon-content,
#coming-soon-content.cs-show,
#section-coming-soon-intro
{
	 -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s
}

a.img-icon-url,a.img-icon-zoom {
    display:inline-block;
    width:36px;
    height:36px;
    background:url(../images/icon-url.png) top no-repeat;
    margin:0 auto;
    margin:0 2px
}

a.img-icon-zoom {
    background:url(../images/icon-zoom.png) top no-repeat
}

a.click-big{
	display:inline-block;
	width:100%;
	height:auto;
}
a.click-big > span{
	display:inline-block;
	width:100%;
	background:rgba(0,0,0,.6);
	height:auto;
	text-align:center;
}

a.click-big:hover > span{
	background:rgba(0,0,0,.3);
}

a.click-big i{
	display:inline-block;
	font-size:64px;
	float:none;
	color:#e88660;
	padding:100px 0 100px 0;
}

a.click-big:hover > span i{
	color:#fff;
}

#click-1{background:url(../images/bg/bg-pic-22.jpg);}

p{
	margin-bottom:30px;
}

p.lead{
	font-size:16px;
	line-height:1.8em;
	font-weight:400;
}

.fullwidthbanner-container{
	margin-left:0px;
}


.text-white,.text-white h1,.text-white h2,.text-white h3,.text-white h4,.text-white h5{
color:#ffffff;
}

.boxed-style #wrapper{
width:1200px;
}

.custom-box{
	padding:10px;
	background:#f7f7f7;
}

.custom-box .inner{
	border:solid 1px #ddd;
	padding:40px;
}

.page-404 .wm{
	font-family:"Playfair Display";
	font-size:400px;
	position:relative;
	color:#e88660;
	opacity:.2;
	top:-160px;
	z-index:-1;
}

.faci-box .vc-inner{
	background:#e88660;
	color:#fff;
	opacity:.9;
}
	
.vc{
	position:absolute;
	height:100%;
	z-index:10;
}	
	
.vc-inner{
	padding:30px;
	position:relative;
    top: 50%;
    transform: translateY(-50%);
}

.pos-right{
	right:0;
}

.pos-left{
	left:0;
}

.img-front{
	position:absolute;
	z-index:2000;
}

.faci-box:hover .vc.pos-left {
	left:20px;
}
.faci-box:hover .vc.pos-right {
	right:20px;
}

.faci-box.l:hover img{
	position:relative;
	margin-left:20px;
}
.faci-box.r:hover img{
	position:relative;
	margin-left:-20px;
}

.faci-box-2 > .inner{
	background:rgba(255,255,255,.5);  padding:0 30px 0 30px;  padding-bottom:-60px;
}
.faci-box-2 > .inner > .inner{
	background:#e88660; position:relative; top:-30px; padding:30px;
}
.faci-box-2 > .inner > .inner > h4{
	margin-top:0;
}

.faci-box-3 .text{
	position:absolute;
	width:80%;
	height:72%;
	background:#e88660;
	padding:20px 30px 20px 30px;
	margin:10%;
	opacity:.9;
}

.faci-box-3{
	overflow:hidden;
	position:relative;
}

.faci-box-3:hover .text{
	margin:0;
	width:100%;
	height:100%;
	margin-top:100%;
	opacity:0;
}

.faci-box-3 img{
	width:100%;
}

.a1 {
    color:#808080;
    margin-top:10px;
    margin-bottom:10px;
	font-weight:bold;
}

.a2 {
    color:#808080;
    margin-top:0px;
    margin-bottom:10px;
	font-weight:light;
}

.a3 {
    color:#e88660;
    margin-top:0px;
    margin-bottom:10px;
	font-weight:light;
	padding-right:15px;
}

.card{
margin-bottom:30px;
}

.card .wrap{
	width:100%;
}

.card h2 {
	margin:0;
}

.card .btn-custom {
	text-align:center;
	display:block;
	margin-top:20px;
}
.card.s2{
	padding:30px 40px 30px 40px;
	background:#f7f7f7;
}

.card.s3{
	padding:30px 40px;
}

.custom-address div{
	display:inline-block;
	margin-right:40px;
	text-transform:uppercase;
	font-size:11px;
}

.custom-address div i{
	color:#e88660;
	margin-top:5px;
	font-size:14px;
}

.decoration {
    background-position:0;
    background:#fff;
	position:relative;
	z-index:100;
	background-size:cover !important;
}

#carousel-banner img{
width:100%;
}

#carousel-banner .item{
position:relative;
}

#carousel-banner .text-wrap{
position:absolute;
width:60%;
height:100%;
left:20%;
bottom:0;
text-align:center;
}

#carousel-banner .text-wrap .text{
padding:80px;
color:#fff;
vertical-align:middle;
display:table;
height:100%;
}

#carousel-banner .text-wrap .middle-text{
display:table-cell;
vertical-align:middle;
height:100%;
}

#carousel-banner .text-wrap .text h2{
color:#fff;
text-transform:none;
letter-spacing:0px;
margin-bottom:30px;
font-family:"Playfair Display";
font-size:72px;
margin-top:0;
}

#carousel-banner .sm-border{
	width:270px;
	height:3px;
	background:rgba(255,255,255,.2);
	text-align:center;
	margin:0 auto;
	margin-bottom:30px;
}

#carousel-banner .sm-border span{
	display:block;
	width:100px;
	height:3px;
	background:#e88660;
	margin:0 auto;
}

#content.no-bottom,.no-bottom {
    padding-bottom:0
}

#content.no-top,.no-top {
    padding-top:0
}

#content .container {
}

.f_box {
    display:table;
    width:100%;
    margin-bottom:20px
}

.f_box .icon,.f_box .desc {
    display:table-cell;
    vertical-align:middle
}

.f_box i {
    text-align:center;
    width:70px;
	height:70px;
	padding-top:18px;
    float:none;
    font-size:36px;
    color:#e88660;
	background:#f5f5f5;
	border-radius:3px;
}

.f_box.right i {
    margin-right:30px;
    margin-left:10px
}

.f_box.left {
    text-align:right
}

.f_box.left i {
    margin-left:30px
}

.f_box.s2 i {
    margin-right:30px;
}

.f_box.s2 i {
    text-align:center;
    width:50px;
	height:50px;
	padding-top:15px;
    float:none;
    font-size:20px;
    color:#e88660;
	background:rgba(255,255,255,.5);
	border-radius:50%;
	border:solid 1px #ddd;
}

.img-fullwidth{
	width:100%;
	height:auto;
}

.img-mt {
    margin-top:20px
}

.img-mb {
    margin-bottom:20px
}

.padding30{padding:30px;}
.padding40{padding:40px;}
.padding50{padding:50px;}
.padding60{padding:60px;}
.padding70{padding:70px;}
.padding80{padding:80px;}
.padding90{padding:90px;}
.padding100{padding:100px;}


.overlay-light-10{background:rgba(255,255,255,.1);}
.overlay-light-50{background:rgba(255,255,255,.5);}
.overlay-light-80{background:rgba(255,255,255,.8);}

.overlay-dark-10{background:rgba(5,4,9,.1);}.overlay-dark-30{background:rgba(5,4,9,.3);}.overlay-dark-50{background:rgba(5,4,9,.5);}.overlay-dark-80{background:rgba(5,4,9,.8);}
.overlay-custom-80{background:rgba(232,134,96,.8);}

.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mt30{margin-top:30px;}.mt40{margin-top:40px;}.mt50{margin-top:50px;}.mt60{margin-top:60px;}.mt70{margin-top:70px;}.mt80{margin-top:80px;}.mt90{margin-top:90px;}.mt100{margin-top:100px;}
.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}.mb30{margin-bottom:30px;}.mb40{margin-bottom:40px;}.mb50{margin-bottom:50px;}.mb60{margin-bottom:60px;}.mb70{margin-bottom:70px;}.mb80{margin-bottom:80px;}.mb90{margin-bottom:90px;}.mb100{margin-bottom:100px;}

.mt-10{margin-top:-10px;}.mt-20{margin-top:-20px;}.mt-30{margin-top:-30px;}.mt-40{margin-top:-40px;}.mt-50{margin-top:-50px;}.mt-60{margin-top:-60px;}.mt-70{margin-top:-70px;}.mt-80{margin-top:-80px;}.mt-90{margin-top:-90px;}.mt-89{margin-top:-89px;}.mt-100{margin-top:-100px;}.mt-260{margin-top:-260px;}.mt-200{margin-top:-200px;}.mt-x{margin-top:-203px;}
.mb-200{margin-bottom:-200px;}.mb-20{margin-bottom:-20px;}.mb-30{margin-bottom:-30px;}.mb-40{margin-bottom:-40px;}.mb-50{margin-bottom:-50px;}.mb-60{margin-bottom:-60px;}.mb-70{margin-bottom:-70px;}.mb-80{margin-bottom:-80px;}.mb-90{margin-bottom:-90px;}.mb-100{margin-bottom:-100px;}.mb-300{margin-bottom:-300px;}

.pt80{padding-top:80px;}
.pb80{padding-bottom:80px;}

.padding10{padding:10px;}.padding20{padding:20px;}.padding30{padding:30px;}

.mb50{margin-bottom:50px;}

.shadow-soft{
	-webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.4);
}

#room-carousel {
    background:#fff;
    padding:35px 20px 20px
}

#room-carousel,.room-pic-slider,.facilities_carousel,.carousel-one,.carousel-two,.carousel-three,.carousel-3-plain {
    cursor:grab
}

.datepicker {
    width:320px;
}

.datepicker td.day {
    color:#333
}

.datepicker td.old,.datepicker td.new {
    color:#bbb!important
}

.datepicker td.day.disabled {
    color:#eee!important
}

.datepicker td.active,.datepicker td.active:hover {
    background:#e88660!important
}

#bg-welcome {
    font-size:20px
}

#bg-welcome .intro-text {
    color:#fff!important;
    text-transform:none;
    font-size:64px;
    font-weight:lighter;
    margin:20px 0
}

#bg-welcome span {
    text-transform:uppercase;
    letter-spacing:10px;
    font-size:13px
}

#room-preview {
    display:none
}

.float-left {
    float:left
}

.page-overlay {
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999;
    background:#fff;
}

.notice-success,.notice-fail {
    display:none
}

.no-bg {
    background:none!important
}

.offers-item {
    width:100%;
    margin-bottom:10px
}

.offers-item .inner {
    padding:10px 30px;
    background:rgba(255,255,255,.85);
    border:solid 1px #eee
}

.dark .offers-item .inner {
    border:none;
    background:rgba(255,255,255,.2);
/*-webkit-box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.1);
	-moz-box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.1);
	box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.1);*/
}

.offers-item h3 {
    color:#e88660;
	font-size:26px;
	margin-bottom:30px;
}

.offers-item .txt-1 {
	color:#333;
    font-size:56px;
    font-weight:700;
    padding:20px 0
}

.offers-item .upper {
    font-weight:300;
    margin-left:10px;
    font-size:16px
}

.offers-item .lower {
    font-weight:300;
    margin-left:10px;
    font-size:16px
}

.offers-item .desc {
    margin-top:20px
}

.offers-item i {
    font-size:16px;
    float:none;
    margin-bottom:20px
}

.offers-item .border {
    border-bottom:solid 1px rgba(0,0,0,.1);
    margin:20px 0
}

.color-1 {
    background:#8CA892
}

.color-2 {
    background:#DA9966
}

.color-3 {
    background:#4C526F
}

.color-4 {
    background:#AF6959
}

.color-5 {
    background:#E3BB87
}

.offers-item a.btn-custom {
    margin:20px 0 10px;
    display:inline-block;
    min-width:140px;
    font-size:14px;
    text-align:center;
    text-transform:uppercase;
    padding:7px 30px;
    letter-spacing:normal;
    font-weight:700
}

.offers-item .text-small {
    font-style:italic;
    font-size:11px
}

.btn-room-type {
    display:block;
    text-align:center;
    font-weight:700;
    font-size:20px;
    text-transform:uppercase;
    color:#555
}

.btn-1.clicked {
    background:#222;
    color:#fff
}

.btn-1.clicked h3 {
    color:#fff
}

/* General button style (reset) */
a.lt-btn,a.lt-btn:visited {
    background:#e88660;
    color:#fff;
    display:inline-block;
    min-width:140px;
    font-size:14px;
    text-align:center;
    text-transform:uppercase;
    padding:7px 30px;
    letter-spacing:normal;
    font-weight:700
}

a.lt-btn:after{
    font-family:"FontAwesome";
    content:  "\f178";
    color:#fff;
	margin-left:10px;
}

a.lt-btn:hover {
    background:#fff;
    color:#111!important;
	text-decoration:none;
}

a.lt-btn:hover:after{
	color:#111!important;
}

/* Button 1 */
.btn-1 {
    color:#fff;
    border-bottom:solid 1px #555
}

.btn-1 h3 {
    padding:15px 0 5px;
    font-size:20px
}

/* Button 1b */
.btn-1b:after {
    width:100%;
    height:0;
    top:0;
    left:0;
    background:#222
}

.btn-1b:hover h3,.btn-1b:active h3 {
    color:#ccc!important
}

.btn-1b:hover:after,.btn-1b:active:after {
    height:100%
}

.subscribe {
    display:table;
    width:100%;
    margin-top:10px
}

.subscribe .l-col {
    display:table-cell;
    width:65%
}

.subscribe .r-col {
    display:table-cell;
    width:35%
}

.subscribe input {
    color:#333;
    margin-bottom:15px;
/*background:rgba(255,255,255,.5);*/
    background:none;
    border-radius:0!important;
    -moz-border-radius:0!important;
    -webkit-border-radius:0!important;
    border:solid 2px rgba(255,255,255,.5);
    border-right:none!important
}

.subscribe input.btn-custom {
    padding:3px 10px;
    border:none!important
}

.text-white h1,.text-white .sub-heading {
    color:#fff
}

.text-white,.text-white h3 {
    color:#fff!important
}

.text-white .divider-small span {
    border-top:solid 1px #fff
}

.facilities-item {
    width:100%
}

.facilities-item h3 {
    margin:0;
    text-transform:uppercase
}

.facilities-item .divider-small {
    padding:10px 0
}

.facilities-item img {
    margin-bottom:30px
}

.testimonial-item {
    width:100%;
}

.testimonial-item blockquote {
    border:none;
    font-size:16px;
    color:#fff;
    margin:0;
    padding:0 0 30px
}

.testi-by {
    color:#fff;
    font-size:15px;
    width:100%;
    display:table;
    background:#2f2927;
    text-align:left
}

.testi-by .pic {
    width:80px;
    display:table-cell
}

.testi-by .pic img {
    width:100%
}

.testi-by .right-col {
    display:table-cell;
    padding-left:20px;
    vertical-align:middle
}

.testi-by span {
    display:block
}

.testi-by span.by {
    font-weight:700
}

.testi-by:after {
    font-family:"FontAwesome";
    content:"\f10e";
    font-size:24px;
    color:#e88660
}

.testi.style-1 blockquote{
	font-family:"Playfair Display";
	font-style:normal;
	border:none;
	padding:0;
	margin:0;
	font-size:18px;
	margin-left:90px;
	line-height:1.7em;
}
.testi.style-1 img{
	width:70px;
	height:auto;
	position:absolute;
}
.testi.style-1 .meta{
	margin-left:90px;
	margin-top:20px;
}
.testi.style-1 .meta span{
	display:block;
}

.owl-theme .owl-controls .owl-page span {
    display:block;
    width:30px!important;
    height:4px!important;
    margin:5px 7px;
    filter:Alpha(Opacity=50);
/*IE7 fix*/
    opacity:1;
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    border-radius:0!important;
    background:#869791
}

.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span {
    background:#b45d3b!important
}

#owl-demo .item {
    display:block;
    padding:30px 0;
    margin:5px;
    color:#FFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-align:center
}

.owl-theme .owl-controls .owl-buttons div {
    padding:5px 9px
}

.owl-theme .owl-buttons i {
    margin-top:2px
}

//To move navigation buttons outside use these settings:
.owl-buttons {
    position:absolute!important
}

.styled{
  color:#e88660;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
  font-weight:bold;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: inline-block;
  padding-top: 3px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  font-weight:normal;
}

/* ////////////////////////////////////////////////////////////  */
/* test */
/* ////////////////////////////////////////////////////////////  */

.text-slider{
	line-height:72px;
	color:#fff;
	font-family:"Dosis";
	font-size:72px;
	text-transform:uppercase;
	font-weight:300;
	display:inline-block;
	letter-spacing:20px;
}

.text-slider.big-text{
	font-size:120px;
	line-height:120px;
	font-weight:bold;
}

.border-deco .text-item{
	display:inline-block;
}

.text-slider.dark{
	color:#222;
}



.text-item i{
	font-size:60px;
	margin-top:5px;
}

.text-slider.big-text i{
	font-size:90px;
	margin-top:15px;
}

.pull-left {
margin: 0 30px 15px 0;
}

/* ////////////////////////////////////////////////////////////  */
/* quick-search */
/* ////////////////////////////////////////////////////////////  */
.quick-search {
    display:inline-block;
    float:right;
    margin-left:10px;
    padding:10px 0 0;
}

.quick-search input {
    width:120px;
    border-radius:40px
}

.dark,.dark h1,.dark h3,.dark .sub-heading {
    color:#fff
}

.dark .small-border span {
    background:#fff
}

/* ////////////////////////////////////////////////////////////  */
/* media query */
/* ////////////////////////////////////////////////////////////  */
/* --------------- width 980px to 1160px --------------- */
@media(min-width:980px) and (max-width: 1160px) {
.team img.team-pic {
    max-width:300px
}
}

/* --------------- width 7668px to 979px --------------- */
@media (min-width: 768px) and (max-width: 979px) {
.slider_text {
    padding-top:0
}

.logo-carousel li img {
    max-width:120px;
    height:auto
}
}

@media only screen and (max-width: 1240px) {
#carousel-banner .text-wrap .text h2{
margin-bottom:20px;
font-size:60px;
}

#quick-book.s2{
margin-top:0px;
padding-top:30px;
padding-bottom:0px;
z-index:100;
position:relative;
background:#b45d3b;
}
}

@media only screen and (max-width: 1200px) {
.mt-x{
	margin-top:-132px;
}
}

@media only screen and (max-width: 1160px) {
.boxed-style #wrapper{
width:100%;
}
#wrapper {
	margin:10px;
}
}

/* --------------- max width 992px --------------- */
@media only screen and (max-width: 992px) {	
#menu-btn {
    display:block
}

.custom-box h3{
	margin-top:20px;
}

.sm-pt70{
	padding-top:70px;
}

.sm-pt80{
	padding-top:80px;
}

#wrapper {
	margin:0;
	border:none;
	position:static;
}

header {
}

header.clone {
    display:block;
    position:inherit;
    margin:0;
    padding:0;
    margin-top:0;
    height:auto
}

#header-info{
display:none;
}

#carousel-banner .text-wrap .text{
padding:50px;
}

.intro-page {
    padding-top:120px
}

.slider_text h1 {
    font-size:32px
}

.slider_text .description {
    display:none
}

#logo {
    height:20px
}

#logo,#logo .inner {
    display:table-cell;
    vertical-align:middle;
    height:60px
}


#testimonial-full blockquote {
    padding:20px
}

/* new added */
#mainmenu {
		height:0;
		overflow:hidden;
		float: none;
		z-index: 200;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#mainmenu a {
		text-align: left;
		padding-left:0;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	#mainmenu a:hover {
		color:#e88660;
	}
	#mainmenu li ul {
		display: none;
		position: inherit;
		margin: 0;
		width: 100%;
	}
	#mainmenu li {
		border-bottom: solid 1px #eeeeee;
		margin: 0;
		width: 100%;
		display: block;
	}
	#mainmenu li a:after {
		display: none;
	}
	#mainmenu li:last-child {
		margin-bottom: 30px;
	}
	#mainmenu li ul {
		border-top: solid 1px #eeeeee;
		top: auto;
		width: 100%;
		height: auto;
		position: inherit;
		visibility: visible;
		opacity: 1;
	}
	#mainmenu li ul a {
		width: 100%;
		background: none;
		border: none;
	}
	#mainmenu li ul li {
		border: none;
		padding-left: 20px;

	}
	#mainmenu li ul li a {
		display: block;		
		font-size:12px;

	}
	#mainmenu li ul li:last-child {
		border-bottom: none;
		margin: 0;
	}
	#mainmenu li ul li:last-child a {
		border-bottom: none;
	}
	#mainmenu li li a {
		font-size: 10px;
	}
	#mainmenu li ul li ul{
		left:0;
	}
	#mainmenu li ul li ul li a{
		background:none;
	}

header.clone {
    display:block!important;
    top:0;
    width:100%;
    position:fixed;
    transition:.4s top ease-in;
    padding-bottom:15px
}

.news-list img {
    width:100%
}

#logo {
}

.team-list {
    float:left;
    width:100%;
    padding:40px
}

.team-list.right {
    float:left
}

.team-list .text {
    width:100%;
    float:right;
    display:none
}

.team-list.right .text {
    width:100%;
    float:left;
    display:block
}

.team-list.left {
    text-align:left
}

.team-list .img-container {
    background:#000
}

.team-list img {
    width:100%;
    border-style:solid;
    border-color:#fff;
    border-width:0
}

.team-list.left .image-container {
    width:100%;
    float:right;
    margin-left:30px;
    background:#403633
}

.team-list.right .image-container {
    width:100%;
    float:left;
    margin-right:30px;
    background:#403633
}

#gallery .item {
    width:49.99%
}

#carousel-banner .text-wrap .text h2{
	font-size:48px;
}




#carousel-banner .text-wrap{
position:absolute;
width:80%;
left:10%;
}

#carousel-banner .text-wrap .text{
padding:80px;
color:#fff;
vertical-align:middle;
display:table;
height:100%;
}


#carousel-banner .text-wrap .text h2{
margin-bottom:20px;
font-size:48px;
}

.title-area-hero h1{
font-size:48px;
}

footer{
	text-align:center;
}
footer .f-widget{
	margin-bottom:30px;
}
footer .social-icons a{
	display:inline-block;
}

.faci-box .vc-inner{
	background:#e88660;
	color:#fff;
	opacity:.9;
	position:static;
    top:0%;
    transform: translateY(-50%);
	z-index:10;
	width:100%;
	right:0;
	margin-bottom:0px;
}
	
.faci-box [class*="col-"].vc{
	position:absolute;
	height:auto;
	z-index:10;
	width:100%;
	float:none;
	top:0;
	margin-top:115px;
}	
	
.faci-box.l img,
.faci-box.r img{
	position:static;
	margin-left:0px;
	top:0;
	float:none;
	width:100%;
}


.faci-box [class*="col-"]{
	width:100%;
	top:0;
	position:static;
}

.subscribe{
	width:80%;
	margin:10px auto;
}

.xs-bg-none{
	background:none !important;
}

.xs-mb-30{
	margin-bottom:30px !important;
}

.xs-mb-40{
	margin-bottom:40px !important;
}

.xs-text-center{
	text-align:center;
}

.news-item {
	width:100%;
}

.testi.style-1 blockquote{
	margin-left:0px;
}
.testi.style-1 img{
	width:70px;
	height:auto;
	position:static;
}
.testi.style-1 .meta{
	margin-left:0px;
}
.testi.style-1 .meta span{
	display:block;
}

.et-accordion{
	max-width:100%;
}

.mt-x{
	margin:-425px auto 0;
}

}

/* --------------- max width 767px --------------- */
@media only screen and (max-width: 767px) {
.container {
    padding-left:30px;
    padding-right:30px
}

#carousel-banner .text-wrap{
width:100%;
height:100%;
left:0;
right:0;
text-align:center;
margin:0 auto;
}

#carousel-banner .text-wrap .text{
width:100%;
padding:20px;
text-align:center;
margin-top:30px;
}

.feature-box-image,.pricing-box {
    margin-bottom:30px
}

.logo-carousel li img {
    max-width:80px;
    height:auto
}

.ex_tab .de_nav li {
    display:block;
    width:100%
}

#carousel-banner .text-wrap .text h1{
	font-size:32px;
}
#carousel-banner .text-wrap .text p,
#carousel-banner .text-wrap .btn-slider{
	display:none;
}

.room-facilities-list.w3 li {
    width:49.9%;
    float:left;
    padding:0
}

}


/* --------------- max width 480px --------------- */
@media only screen and (max-width: 480px) {
#gallery .item {
    width:100%
}

.vc-inner{
	padding:10px 15px 10px 15px;
	font-size:12px;
	line-height:1.7em;
}

#carousel-banner .text-wrap {
width:100%;
}

#quick-book .col-md-4{
width:100%;
}

.room-facilities-list.w3 li {
    width:100%;
    float:left;
    padding:0
}
}

/* --------------- width 480px to 767px --------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {
    padding-left:30px;
    padding-right:30px
}

.feature-box-image,.pricing-box {
    margin-bottom:30px
}

.logo-carousel li img {
    max-width:100px;
    height:auto
}
}
/* --------------- max width 320px --------------- */
@media (min-width: 300px) and (max-width: 979px) {
	#mainmenu li a {
		display:block;
		width:100%
	}

	section {
		background-position:top!important;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		background-attachment:scroll
	}

	.team img.team-pic {
		max-width:300px
	}
}