{% extends "base/index.html" %}


{% block after_header %}
	<section id="subheader" data-stellar-background-ratio=".2" class="subheader-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _("Contact us") }}</h1>
                    <h3>{{ _("We are happy to help you") }}</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content_class %}{% endblock %}

{% block contact %}
	<div class="container">
        <div class="row">
            <div class="form-container">
                <div class="col-md-6">
	                {% if messages(request) %}
		                <div class="row">
		                {% for message in messages(request) %}
					        {% if 'form_success' in message.tags %}
						        <div class="col-md-12 notice-success">
						            <div class="alert alert-success"><p>{{ message|safe }}</p></div>
						        </div>
					        {% elif 'form_error' in message.tags %}
						        <div class="col-md-12 notice-fail">
						            <div class="alert alert-danger"><p>{{ message|safe }}</p></div>
						        </div>
					        {% endif %}
					    {% endfor %}
		                </div>
					{% endif %}
                    <div class="lt-form">
                        <form name="contactForm" id='contact_form' method="post">
	                        {% csrf_token %}
                            <div class="label">
                                <i class="fa fa-user"></i>{{ contact_form.name.label_tag() }}
                            </div>
	                        {{ contact_form.name }}

                            <div class="label">
                                <i class="fa fa-envelope"></i>{{ contact_form.email.label_tag() }}
                            </div>
	                        {{ contact_form.email }}

                            <div class="label">
                                <i class="fa fa-comment"></i>{{ contact_form.message.label_tag() }}
                            </div>
	                        {{ contact_form.message }}

                            <input type='submit' id='send_message' value='{{ _("Submit Form") }}' class="btn-custom">
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
