{% extends "base/index.html" %}


{% block after_header %}
	<section id="subheader" data-stellar-background-ratio=".2" class="subheader-facilities">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _("Facilities & Services") }}</h1>
                    <h3>{{ _("For your pleasure") }}</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content_class %}{% endblock %}

{% block facilities %}
	<div class="container">
        <div class="row">

	        <div class="col-md-6 faci-box l mb30 text-white">
            <div class="row">
              <div class="col-md-8">
                <img src="{{ static('img/facilities/parking.jpg') }}" class="img-responsive" alt="">
              </div>
              <div class="col-lg-6 col-md-10 pos-right vc">
                <div class="vc-inner overlay-light-10">
								  <h3>{{ _("Free parking") }}</h3>
									{{ _("You can park your car or motorbike freely and comfortably just outside our complex as there is plenty of space on the public road.") }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 faci-box l mb30 text-white">
            <div class="row">
                <div class="col-md-8">
                  <img src="{{ static('img/facilities/laundry.jpg') }}" class="img-responsive" alt="">
                </div>
                <div class="col-lg-6 col-md-10 pos-right vc">
                  <div class="vc-inner overlay-light-10">
				            <h3>{{ _("Laundry service") }}</h3>
                    {{ _("We can wash or iron your clothes for an extra small fee.") }}
                  </div>
                </div>
            </div>
          </div>

	        <div class="col-md-6 faci-box r mb30 text-white">
            <div class="row">
              <div class="col-lg-6 col-md-10 pos-left vc">
                <div class="vc-inner overlay-light-10">
				          <h3>{{ _("Breakfast") }}</h3>
                  {{ _("Our breakfast is served in a buffet and includes traditional Kimolos specialties, handmade cakes and crackers, puff pastry products, butter / chocolate croissants, cheese, cold cuts, cereals, eggs, honey and much more.") }}
                </div>
              </div>
              <div class="col-md-8 col-md-offset-4">
                <img src="{{ static('img/facilities/breakfast.jpg') }}" class="img-responsive" alt="">
              </div>
            </div>
          </div>

	        <div class="col-md-6 faci-box r mb30 text-white">
            <div class="row">
              <div class="col-lg-6 col-md-10 pos-left vc">
                <div class="vc-inner overlay-light-10">
			            <h3>Internet</h3>
                  {{ _("Free internet access in all areas of the complex.") }}
                </div>
              </div>
	            <div class="col-md-8 col-md-offset-4">
                  <img src="{{ static('img/facilities/internet.jpg') }}" class="img-responsive" alt="">
                </div>
            </div>
          </div>

          <div class="col-md-6 faci-box l mb30 text-white">
            <div class="row">
	            <div class="col-md-8">
                <img src="{{ static('img/facilities/island_info.jpg') }}" class="img-responsive" alt="">
              </div>
              <div class="col-lg-6 col-md-10 pos-right vc">
                <div class="vc-inner overlay-light-10">
			            <h3>{{ _("Island info") }}</h3>
                  {{ _("With joy and willingness we can give you information to help you explore the island and admire its beauties.") }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 faci-box l mb30 text-white">
            <div class="row">
              <div class="col-md-8">
                <img src="{{ static('img/facilities/boat.jpg') }}" class="img-responsive" alt="">
              </div>
              <div class="col-lg-6 col-md-10 pos-right vc">
                <div class="vc-inner overlay-light-10">
				          <h3>{{ _("Boat excursions") }}</h3>
                  {{ _("Enjoy our island and the sea. You will also be enchanted by a walk in Polyaigos where you can swim in the blue waters. Ask us for more information.") }}
                </div>
              </div>
            </div>
          </div>

	        <div class="col-md-6 faci-box r mb30 text-white">
            <div class="row">
	            <div class="col-lg-6 col-md-10 pos-left vc">
                <div class="vc-inner overlay-light-10">
				          <h3>{{ _("Aditional amenities") }}</h3>
                  <ul style="padding-left:0;">
	                  <li>{{ _("daily cleaning service and change of towels/sheets every 3rd day") }}</li>
	                  <li>{{ _("luggage storage") }}</li>
	                  <li>{{ _("printing service ") }}</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8 col-md-offset-4">
                <img src="{{ static('img/facilities/sheets.jpg') }}" class="img-responsive" alt="">
              </div>
            </div>
          </div>

	        <div class="col-md-6 faci-box r mb30 text-white">
            <div class="row">
              <div class="col-lg-6 col-md-10 pos-left vc">
                <div class="vc-inner overlay-light-10">
				          <h3>{{ _("Supply of beach towels") }}</h3>
                  {{ _("We make things easier for you by providing you with beach towels upon request and availability.") }}
                </div>
              </div>
	            <div class="col-md-8 col-md-offset-4">
                <img src="{{ static('img/facilities/towels.jpg') }}" class="img-responsive" alt="">
              </div>
            </div>
          </div>

	        <div class="col-md-6 faci-box l mb30 text-white">
            <div class="row">
	            <div class="col-md-8">
                <img src="{{ static('img/facilities/check_in_out.jpg') }}" class="img-responsive" alt="">
              </div>
              <div class="col-lg-6 col-md-10 pos-right vc">
                <div class="vc-inner overlay-light-10">
			            <h3>Check in/out</h3>
                  Check in: 15:00<br>
	                Check out: 11:00
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 faci-box l mb30 text-white">
            <div class="row">
              <div class="col-md-8">
                <img src="{{ static('img/facilities/disabled.jpg') }}" class="img-responsive" alt="">
              </div>
              <div class="col-lg-6 col-md-10 pos-right vc">
                <div class="vc-inner overlay-light-10">
				          <h3>{{ _("Pets") }}</h3>
                  {{ _("Unfortunately for our customers, pets are not allowed and our facilities are not accessible for the disabled.") }}
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
{% endblock %}
