{% extends "base/index.html" %}


{% block after_header %}
	<section id="subheader" class="subheader-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _("Gallery") }}</h1>
                    <h3>{{ _("Explore The Beauty of Kimolos") }}</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block gallery %}
	<div id="gallery" class="gallery full-gallery de-gallery">

		{% for image in images %}
		<div class="item">
			<div class="gallery-item">
				<a class="preview" href="{{ image.image.url }}">
					<span class="overlay">{{ image.name }}</span>
					<img src="{{ image.image.url }}" alt="">
				</a>
			</div>
		</div>
		{% endfor %}

	</div>





{#    <section id="section-gallery_1_tiles" class="side-bg xs-bg-none">#}
{#        <div class="col-md-8 col-md-offset-4 image-container">#}
{#            <div class="background-image overlay-light-60"></div>#}
{#        </div>#}
{#        <div class="container">#}
{#            <div class="row">#}
{#				<div class="col-md-8 col-md-offset-4 mv">#}
{#                    <div class="title-area text-center mt60 text-white">#}
{#                        <h1>{{ _("Gallery") }}</h1>#}
{#                        <div class="small-border"><span></span></div>#}
{#                        <p class="sub-heading">{{ _("Explore The Beauty of Kimolos") }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="clearfix"></div>#}
{#    </section>#}
{##}
{#	<section class="no-top no-bottom" aria-label="gallery">#}
{#		<div id="gallery" class="gallery full-gallery de-gallery gallery-masonry">#}
{#		{% for image in images %}#}
{#			<div class="item">#}
{#	            <div class="gallery-item">#}
{#	                <a href="{{ image.image.url }}">#}
{#	                    <span class="overlay">#}
{#	                        <span class="pf_text">#}
{#	                            <span class="project-name">{{ image.name }}</span>#}
{#	                        </span>#}
{#	                    </span>#}
{#	                </a>#}
{#	                <img src="{{ image.image.url }}" alt="" />#}
{#	            </div>#}
{#	        </div>#}
{#		{% endfor %}#}
{#		</div>#}
{#	</section>#}
{% endblock %}
