{% extends "base/index.html" %}


{% block after_header %}
	<section id="subheader" data-stellar-background-ratio=".9" class="subheader-kimolos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _("Kimolos") }}</h1>
{#                    <h3>{{ _("Relax and enjoy your stay") }}</h3>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block kimolos %}
    <section id="section-explore-7" class="side-bg">
{#        <div class="col-md-4 image-container">#}
{#            <div class="background-image"></div>#}
{#        </div>#}
{##}
        <div class="container">
          <div class="row">
{#            <div class="col-md-3">#}
{#              <div class="inner-padding"></div>#}
{#			      </div>#}
	          <div class="col-md-12" style="font-size:16px;">{# col-md-offset-2">#}
		          <div class="kimolos-item-wrapper">
			          <img src="{{ static('img/kimolos/island.jpg') }}" alt="kimolos photo">
			          <div class="kimolos-inner-text">
				          <h1>{{ _("The island") }}</h1>
				          <p>{{ _("At the moment that you arrive in Psathi the Kimolian harbor, you feel like your heart is full of happiness. The island is picturesque and beautiful, the waters are green, the houses in blue and white, they proudly stand to compose a fairytale picture that stays forever in your mind. The peace and calm you meet absorbs you.") }}</p>
			          </div>
		          </div>
		          <div class="kimolos-item-wrapper">
			          <img src="{{ static('img/kimolos/aliki.jpg') }}" alt="kimolos photo">
			          <div class="kimolos-inner-text">
				          <h1>{{ _("Aliki settlement") }}</h1>
				          <p style="margin-bottom:3px;">{{ _("The settlement of Alyki is one of the four coastal settlements of Kimolos. It is located on the southwest side of the island with a wonderful view of the island of Agios Georgios, Pyrgonisi and Apollonia (the second port of Milos). Inhabits all year round. Summer is one of the most famous settlements of Kimolos for the taverns with fresh fish next to the beach. In winter it turns into a small wetland, where migratory birds stop during their migration process for a few hours of rest.") }}</p>
				          <p>{{ _("The beach of Alyki is not organized, but it has many large tamarisk trees. It is a beach for all tastes, because it has pebbles and fine sand. Its biggest advantage is that it's \"windless\" in summer meltemia. Bonatsa and Kalamitsi, the next beaches in a row, are sandy with golden sand and many tamarisk trees.") }}</p>
			          </div>
		          </div>
		          <div class="kimolos-item-wrapper">
			          <img src="{{ static('img/kimolos/karas.jpg') }}" alt="kimolos photo">
			          <div class="kimolos-inner-text">
				          <h1>{{ _("Naming") }}</h1>
				          <p>{{ _("The name Kimolos, according to mythology, comes from its first inhabitant Kimolos, son of Apollo, husband of Sides, daughter of Taurus. In ancient times it was also known as Ofidousa and Echinousa due to the many reptiles that existed on the island. During the 13th - 14th century the Venetians called it Arzandiera or Arzandara which means silver because of the white color of its rocks. Ovid calls Kimolos cretosam, while referring to the Itinerarium of Antonini Augusti, who calls it Cimelos. Finally, we Kimoliates call it \"My Kimolos, my Paradise\".") }}</p>
			          </div>
		          </div>
							<div class="kimolos-item-wrapper">
								<img src="{{ static('img/kimolos/transport.jpg') }}" alt="kimolos photo">
								<div class="kimolos-inner-text">
									<h1>{{ _("Transport") }}</h1>
									<p>{{ _("Kimolos belongs to the island complex of the Cyclades and more specifically to the southwestern border between Milos and Sifnos. It has an elliptical shape with a perimeter of 14 kilometers and its surface is 40 square kilometers. It is 86 nautical miles from Piraeus.") }}</p>
								</div>
							</div>
							<div class="kimolos-item-wrapper">
								<img src="{{ static('img/kimolos/psathi.jpg') }}" alt="kimolos photo">
								<div class="kimolos-inner-text">
									<h1>{{ _("How to come to Kimolos") }}</h1>
									<p>- {{ _("Directly by speedboat or conventional ferry departing from the port of Piraeus") }}</p>
									<p>- {{ _("Alternatively you can travel by boat or air to neighboring Milos island. Then you will need to go by road either from the main port of Milos (Adamas) or from the airport to the port of Apollonia and from there with the open passenger - vehicle ferry \"Osia Metodia\" to go to the port of Kimolos (Psathi). There is daily communication and your transfer will take only 25 minutes as the distance between Apollonia and Psathi is only 1 nautical mile.") }}</p>
								</div>
							</div>
		          <div class="kimolos-item-wrapper">
			          <img src="{{ static('img/kimolos/spilia.jpg') }}" alt="kimolos photo">
			          <div class="kimolos-inner-text">
				          <h1>{{ _("Kilometer distances") }}</h1>
				          <p>{{ _("Kilometer distances from our accommodation") }}</p>
				          <ul>
					          <li>{{ _("Kimolos port (Psathi): 2.5Km") }}</li>
					          <li>{{ _("Kimolos village: 2.5Km") }}</li>
					          <li>{{ _("Aliki beach: 400m") }}</li>
					          <li>{{ _("Bonatsas beach: 1.2Km") }}</li>
					          <li>{{ _("Kalamitsi beach: 1.5Km") }}</li>
					          <li>{{ _("Elinika beach: 3.1Km") }}</li>
					          <li>{{ _("Dekas beach: 2.8Km") }}</li>
					          <li>{{ _("Mavrospilia beach: 3.5Km") }}</li>
					          <li>{{ _("Klima beach: 4.5Km") }}</li>
					          <li>{{ _("Goupa - Rema beach: 2.7Km") }}</li>
					          <li>{{ _("Karas (rocky shore): 3.6Km") }}</li>
					          <li>{{ _("Prasa beach: 8Km") }}</li>
					          <li>{{ _("Monastiria beach: 8.5Km") }}</li>
				          </ul>
			          </div>
		          </div>
	          </div>


{#                    <h4>Exotica Hotel &amp; Resort is a seafront coastal hotel in Lombok Island which is the most popular#}
{#                        destination in West Nusa Tenggara with the spectacular natural beauty and cultural richness.</h4>#}
{#					<div class="spacer-half"></div>#}
{#                    <h4>Our Hotel</h4>#}
{#					<p>Exotica is a five star hotel managed by professional team management.#}
{#					Our hotel is equipped with facilities such as meeting area, swimming pool, Wedding Venu, Fitness Center,#}
{#					Spa and Salon.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,#}
{#                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate#}
{#                    cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor#}
{#                    a ornare</p>#}
{#                    <h4>Our Resort</h4>#}
{#                    <p>Experience island life with luxury touches in our resort. Exotica Resort is one of the most family-friendly#}
{#					resorts you'll find anywhere in the World. The Exotica Resort is the perfect choice for couples, families,#}
{#					weddings and events.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,#}
{#                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate#}
{#                    cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor#}
{#                    a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti#}
{#                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.#}
{#                    Nullam ac urna </p>#}
{#                </div>#}
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
{##}
{#    <section id="section-facilities" aria-label="section-facilities">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-6 faci-box l mb30 text-white">#}
{#                    <div class="row">#}
{#                        <div class="col-md-8">#}
{#                            <img src="{{ static('img/coffee/coffee_facility_1.jpg') }}" class="img-responsive" alt="">#}
{#                        </div>#}
{#                        <div class="col-lg-6 col-md-10 pos-right vc">#}
{#                            <div class="vc-inner overlay-light-10">#}
{#							<h3>Live Music</h3>#}
{#							Come down to the Exotica Hotel and enjoy some great events! Bring your friends and join in#}
{#						    the fun of with live music, pub trivia, giveaways, member’s badge draws, raffles and more.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-6 faci-box l mb30 text-white">#}
{#                    <div class="row">#}
{#                        <div class="col-md-8">#}
{#                            <img src="{{ static('img/coffee/coffee_facility_2.jpg') }}" class="img-responsive" alt="">#}
{#                        </div>#}
{#                        <div class="col-lg-6 col-md-10 pos-right vc">#}
{#                            <div class="vc-inner overlay-light-10">#}
{#							<h3>Food &amp; Drinks</h3>#}
{#							Our dining room menu is based on South East Asian food made with seasonal, local produce#}
{#						    and love! With subdued lighting and glorious music we served your dinner.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-6 faci-box r mb30 text-white">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6 col-md-10 pos-left vc">#}
{#                            <div class="vc-inner overlay-light-10">#}
{#							<h3>Meeting Rooms</h3>#}
{#							Our hotels offer small meeting rooms to large banquet sized function rooms,#}
{#							collaborate and present work and ideas with flair and ease.#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-8 col-md-offset-4">#}
{#                            <img src="{{ static('img/coffee/coffee_facility_3.jpg') }}" class="img-responsive" alt="">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-6 faci-box r mb30 text-white">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6 col-md-10 pos-left vc">#}
{#                            <div class="vc-inner overlay-light-10">#}
{#							<h3>Spa &amp; Salon</h3>#}
{#							Time for yourself at last. Recuperate with a massage is the perfect way to relax#}
{#							after an action-packed day, recharge your batteries for the next day.#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-8 col-md-offset-4">#}
{#                            <img src="{{ static('img/coffee/coffee_facility_4.jpg') }}" class="img-responsive" alt="">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#		</div>#}
{#    </section>#}

{#        <section id="section-explore-6">#}
{#            <div class="container">#}
{#                <div class="row">#}
{##}
{#                    <div class="col-md-12">#}
{#                        <div class="title-area">#}
{#                            <h1>Testimonial</h1>#}
{#                            <div class="small-border"><span></span></div>#}
{#                            <p class="sub-heading">What They Says</p>#}
{#                        </div>#}
{##}
{##}
{#                        <div class="carousel carousel-3-plain nav-1">#}
{##}
{#                            <div class="col-md-4 item">#}
{#                                <div class="testi style-1">#}
{#                                    <img src="images/testi-avatar/avatar-testimonial-1.png" alt="">#}
{#                                    <blockquote>#}
{#                                        The service was excellent. Every one we interacted with at the resort was very kind.#}
{#                                    </blockquote>#}
{#                                    <div class="meta"><span class="a1">Tina Tunnel</span> <span class="a2">Founder of Exotheme</span></div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="col-md-4 item">#}
{#                                <div class="testi style-1">#}
{#                                    <img src="images/testi-avatar/avatar-testimonial-2.png" alt="">#}
{#                                    <blockquote>#}
{#                                        Excellent experience. The staff and the quality of the food exceeded my expectations.#}
{#                                    </blockquote>#}
{#                                    <div class="meta"><span class="a1">Nicole McMohan</span> <span class="a2">Wealth Manager</span></div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="col-md-4 item">#}
{#                                <div class="testi style-1">#}
{#                                    <img src="images/testi-avatar/avatar-testimonial-3.png" alt="">#}
{#                                    <blockquote>#}
{#                                        We had a beautiful time! Loved it. I will highly recommend you to anyone!#}
{#                                    </blockquote>#}
{#                                    <div class="meta"><span class="a1">Angelina Sondang</span> <span class="a2">Executive Assistant</span></div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="col-md-4 item">#}
{#                                <div class="testi style-1">#}
{#                                    <img src="images/testi-avatar/avatar-testimonial-4.png" alt="">#}
{#                                    <blockquote>#}
{#                                        Many thanks for the wonderful service and kindness extended to our family.#}
{#                                    </blockquote>#}
{#                                    <div class="meta"><span class="a1">Diana Douglas</span> <span class="a2">Sales Manager</span></div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#							<div class="col-md-4 item">#}
{#                                <div class="testi style-1">#}
{#                                    <img src="images/testi-avatar/avatar-testimonial-5.png" alt="">#}
{#                                    <blockquote>#}
{#                                        Excellent hotel! Clean rooms, warm and friendly staff, great food at the Bamskies Kitchen.#}
{#                                    </blockquote>#}
{#                                    <div class="meta"><span class="a1">Michelle Lee</span> <span class="a2">Athlete</span></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="owl-custom-nav mt30">#}
{#                            <a class="btn-prev"></a>#}
{#                            <a class="btn-next"></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{% endblock %}
